.card-section {
  padding: rem(50) rem(30);
  .box-list {
    a {
      display: block;
    }
    .border-box {
      border-radius: 15px;
      background-color: rgb(148, 209, 202);
      height: rem(180);
      margin-bottom: rem(20);
      background-repeat: no-repeat;
      background-position: 94%;
      ;
      h2 {
        font-size: rem(40);
        color: rgb(255, 255, 255);
        line-height: 0.7;
        padding-top: rem(43);
        padding-left: rem(60);
      }
      P {
        font-size: rem(24);
        font-family: "NotoSansCJKkr";
        color: rgb(255, 255, 255);
        line-height: 1;
        text-align: left;
        padding-left: rem(60);
        padding-top: rem(20);
        text-align: left;
      }
    }
    .intro-box {
      background-image: url(../images/intro-box.png);
      background-size: rem(64);
      background-position: 89%;
    }
    .servit-box {
      background-image: url(../images/service-box.png);
      background-size: rem(96);
      background-color: rgb(44, 187, 182);
      p {
        letter-spacing: -1px;
      }
    }
    .keep-box {
      background-image: url(../images/keep-box.png);
      background-size: rem(96);
      background-color: rgb(35, 190, 204);
    }
  }
}