.footer {
  background-color: rgb(67, 68, 72);
  color: white;
  height: rem(360);
  padding-top: rem(40);
  .dropdown {
    .dropbtn {
      border: 1px solid rgb(255, 255, 255);
      border-radius: 3px;
      margin: auto;
      display: block;
      width: calc(100% - 15px);
      font-size: rem(28);
      line-height: 1.2;
      padding: rem(18) rem(57);
      position: relative;
      &::after {
        content: "";
        background-image: url(../images/arrow.png);
        width: 21px;
        height: rem(11);
        position: absolute;
        background-repeat: no-repeat;
        top: 13px;
        right: 24px;
      }
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background: #666666;
      width: calc(100% - 15px);
      bottom: 47px;
      right: 7px;
      li {
        font-size: 1rem;
        color: white;
        padding: 15px 22px;
        border-bottom: 1px solid white;
        ;
      }
    }
  }
  .footer-logo {
    text-align: center;
    padding-top: rem(49);
    img {
      width: rem(213);
    }
  }
  .link-list {
    text-align: center;
    ul {
      display: flex;
      li {
        flex: 1 1 auto;
        font-size: rem(24);
        text-align: center;
        position: relative;
        &::after {
          content: "";
          background-color: rgb(124, 124, 127);
          width: 1px;
          height: 10px;
          position: absolute;
          right: 0;
        }
        &:last-child {
          &::after {
            display: none;
          }
        }
      }
    }
    .copyright {
      font-size: rem(24);
      color: rgb(147, 149, 154);
      line-height: 1.2;
    }
  }
}