.header {
  position: relative;
  background-color: white;
  height: rem(90);
  .container {
    position: absolute;
    display: inline-block;
    margin-top: rem(16);
    cursor: pointer;
    .bar1,
    .bar2,
    .bar3 {
      width: rem(38);
      height: rem(4);
      background-color: rgb(44, 187, 182);
      margin: rem(10) 0;
      display: flex;
      transition: 0.4s;
    }
  }
  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    img {
      width: rem(213);
    }
  }
  .ico {
    position: absolute;
    right: rem(28);
    margin-top: rem(16);
    img {
      width: rem(35);
    }
  }
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(rem(-12), rem(6));
  transform: rotate(-45deg) translate(rem(-12), rem(6));
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(rem(-14), rem(-8));
  transform: rotate(45deg) translate(rem(-14), rem(-8));
}