.banner-section {
  width: 100%;
  margin: auto;
  .main-banner {
    position: relative;
    .main-dot {
      position: absolute;
      top: 67%;
      left: 50%;
      transform: translate(-67%, -50%);
      button.owl-dot {
        border: 1px solid white;
        color: rgb(141, 159, 217);
        margin-left: 11px;
        width: rem(12);
        height: rem(12);
        background-color: white;
        background: transparent;
        transition: width .3s;
        border-radius: 50%;
      }
      button.active {
        width: rem(36);
        height: rem(12);
        background-color: rgb(44, 187, 182);
        border-radius: 5px
      }
    }
  }
  .slide-img {
    background-image: url(../images/section-bg.png);
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: rem(550);
    p {
      font-size: rem(24);
      color: white;
      line-height: 1.167;
      padding-top: 8.438rem;
      text-align: center;
    }
  }
}