$url: "../images/ico_";
.sidenav {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  >div {
    position: relative;
    height: 2.8125rem;
    background-color: rgb(44, 187, 182);
  }
  .container {
    position: absolute;
    display: inline-block;
    margin-top: rem(16);
    cursor: pointer;
    .bar1,
    .bar2,
    .bar3 {
      width: rem(38);
      height: rem(4);
      background-color: white;
      margin: rem(10) 0;
      display: flex;
      transition: 0.4s;
    }
  }
  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    img {
      width: rem(213);
    }
  }
  .ico {
    position: absolute;
    right: rem(28);
    margin-top: rem(16);
    img {
      width: rem(35);
    }
  }
  .bar1 {
    -webkit-transform: rotate(-45deg) translate(rem(-12), rem(6));
    transform: rotate(-45deg) translate(rem(-12), rem(6));
  }
  .bar2 {
    opacity: 0;
  }
  .bar3 {
    -webkit-transform: rotate(45deg) translate(rem(-14), rem(-8));
    transform: rotate(45deg) translate(rem(-14), rem(-8));
  }
  ul {
    padding: 0px rem(26);
    display: flex;
    flex-direction: column;
    .accordion {
      font-size: rem(33);
      line-height: 3.636;
      color: rgb(51, 51, 51);
      position: relative;
      border-bottom: 1px solid rgb(213, 213, 213);
      padding-left: rem(120);
      background-repeat: no-repeat;
      background-size: rem(44);
      background-position: 5% 53%;
      &::after {
        content: "";
        background-image: url(../images/accodion-next.png);
        background-repeat: no-repeat;
        width: rem(16);
        height: rem(30);
        background-size: cover;
        position: absolute;
        right: rem(10);
        top: rem(44);
      }
    }
    .ico_sign {
      background-image: url($url + "sign.png");
    }
    .ico_box {
      background-image: url($url + "box.png");
    }
    .ico_mail {
      background-image: url($url + "mail.png");
    }
    .ico_clip {
      background-image: url($url + "clip.png");
    }
    .ico_coin {
      background-image: url($url + "coin.png");
    }
    .pannel {
      display: none;
      overflow: hidden;
    }
  }
}