.tab-section {
  width: 100%;
  background-image: url(../images/tab-banner-bg.png);
  height: rem(650);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  .tab-menu {
    .nav-tabs {
      text-align: center;
      border: none;
      display: flex;
      padding-top: rem(50);
      font-size: rem(30);
      font-weight: bold;
      li {
        float: none;
        flex: 1 1 auto;
      }
      .active {
        background-color: unset;
        border: none;
        &>a {
          display: inline-block;
          border: none;
          background-color: unset;
          padding-bottom: 10px;
          border-bottom: 3px solid rgb(44, 187, 182);
          color: rgb(44, 187, 182);
        }
      }
    }
  }
}

.tab-content {
  padding-left: 11px;
  .tab-pane {
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    height: rem(454);
    .notice-list {
      flex-direction: column;
      display: flex;
      padding: rem(30) rem(45) 0 rem(45);
      &>li {
        border-bottom: 1px solid rgb(229, 229, 229);
        padding-bottom: rem(43);
        padding-top: rem(30);
      }
      & li ul .notice-date {
        font-size: rem(24);
        float: left;
        strong {
          font-size: rem(40);
          color: rgb(44, 187, 182);
          line-height: 0.525;
          padding-left: 10px;
        }
      }
      .notice-header {
        font-size: rem(26);
        line-height: 1.333;
        color: rgb(51, 51, 51);
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 34px;
        display: block;
        text-align: left;
      }
      .notice-text {
        font-size: rem(24);
        color: rgb(102, 102, 102);
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-left: 34px;
        display: block;
        width: 232px;
      }
    }
  }
}