@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Noto Sans Korean', sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'notokr-regular', dotum, gulim, verdana, sans-serif;
}

/* add */
a {
  text-decoration: none;
  color: inherit;
}

button {
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
}

img {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
}

input[type="text"] {
  padding: 0;
  border: 0;
}

body {
  font-size: 16px;
}

.wrapper {
  width: 1200px;
  margin: auto;
}

.header {
  width: 100%;
  margin: auto;
  height: 80px;
  border-bottom: 1px solid black;
  -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.header .wrapper {
  width: 1200px;
  margin: auto;
  position: relative;
}

.header .wrapper h1 {
  position: absolute;
  left: 0px;
  top: 20px;
}

.header .wrapper h1 a {
  display: inline-block;
}

.header .wrapper .nav {
  text-align: center;
  margin: auto;
  padding: 0 21.25rem 0 15rem;
}

.header .wrapper .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .wrapper .nav ul li {
  width: 210px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.125rem;
  font-weight: 500;
}

.header .wrapper .nav ul li a {
  display: inline-block;
  padding: 25px 0;
}

.header .wrapper .login {
  position: absolute;
  right: 50px;
  top: 27px;
}

.header .wrapper .login ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .wrapper .login ul li {
  padding: 0px 17px 0px 17px;
  font-size: 0.875rem;
  border-right: 1px solid #cdcdcd;
}

.header .wrapper .login ul li:last-child {
  border-right: none;
}

.header .wrapper .login ul li:last-child:after {
  content: "";
  background-image: url(../images/login.png);
  width: 71px;
  height: 66px;
  background-position: center;
  position: absolute;
  right: -50px;
  background-repeat: no-repeat;
  bottom: -24px;
}

.header .wrapper .login ul li:first-child a {
  display: inline-block;
  position: relative;
}

.header .wrapper .login ul li:first-child a::before {
  content: "";
  background-image: url(../images/won.png);
  width: 26px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 1px;
  left: -30px;
}

.banner-section {
  position: relative;
  width: 100%;
  margin: auto;
  min-width: 1200px;
}

.banner-section .main-banner .owl-nav button.owl-next {
  background-image: url(../images/next.png);
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  text-indent: -9999px;
  top: 195px;
  right: 135px;
}

.banner-section .main-banner .owl-nav button.owl-prev {
  background-image: url(../images/prev.png);
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  text-indent: -9999px;
  top: 195px;
  left: 135px;
}

.banner-section .main-banner .main-dot {
  position: absolute;
  bottom: 120px;
  left: 50%;
}

.banner-section .main-banner .main-dot button.owl-dot {
  border: 1px solid white;
  color: #8d9fd9;
  margin-left: 11px;
  width: 6px;
  height: 6px;
  background-color: white;
  background: transparent;
  -webkit-transition: width .3s;
  transition: width .3s;
  border-radius: 5px;
}

.banner-section .main-banner .main-dot button.active {
  width: 18px;
  background-color: #2cbbb6;
}

.slide-img {
  margin: auto;
  background-image: url(../images/section-bg.png);
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}

.slide-img a {
  display: inline-block;
}

.slide-img p {
  width: 1200px;
  margin: auto;
  text-align: center;
  color: white;
  padding-top: 220px;
}

.card-section {
  width: 100%;
  margin: auto;
  margin-top: 100px;
}

.card-section .box-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-section .box-list .border-box {
  width: 333px;
  height: 350px;
  border: 1px solid #94d1ca;
  background-color: #94d1ca;
  background-image: url();
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  color: white;
  padding: 50px 60px;
  position: relative;
}

.card-section .box-list .border-box:hover {
  -webkit-box-shadow: 11.756px 16.18px 20px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 11.756px 16.18px 20px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  margin-top: -40px;
  border: none;
}

.card-section .box-list .border-box a {
  display: inline-block;
}

.card-section .box-list .border-box .card-head {
  line-height: 0.824;
  font-size: 2.125rem;
  font-weight: 400;
}

.card-section .box-list .border-box .text-info {
  line-height: 1.5;
  font-size: 1rem;
  padding-top: 27px;
  color: white;
}

.card-section .box-list .border-box img {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 50px;
  bottom: 50px;
}

.card-section .box-list .intro-box {
  background-image: url(../images/intro-img.png);
  background-repeat: no-repeat;
  background-position: 50px 196px;
}

.card-section .box-list .servit-box {
  background-image: url(../images/servit-img.png);
  background-repeat: no-repeat;
  background-position: 50px 218px;
  background-color: #2cbbb6;
}

.card-section .box-list .keep-box {
  background-image: url(../images/keep-img.png);
  background-repeat: no-repeat;
  background-position: 50px 218px;
  background-color: #23becc;
}

.tab-section {
  width: 100%;
  height: 667px;
  background-image: url(../images/tab-banner-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: -100px;
  min-width: 1200px;
}

.tab-section .tab-menu {
  width: 1200px;
  margin: auto;
}

.tab-section .tab-menu .nav-tabs {
  text-align: center;
  padding-top: 200px;
  border: none;
}

.tab-section .tab-menu .nav-tabs li {
  display: inline-block;
  float: none;
  font-size: 1.5rem;
  padding: 0px 100px 0px 0px;
}

.tab-section .tab-menu .nav-tabs .active {
  background: none;
  border: none;
}

.tab-section .tab-menu .nav-tabs .active > a {
  background-color: unset;
  border: none;
  padding-bottom: 10px;
  border-bottom: 3px solid #2cbbb6;
  color: #2cbbb6;
}

.tab-section .tab-content {
  margin-top: 30px;
}

.tab-section .tab-content .tab-pane {
  border-radius: 15px;
  background-color: white;
  height: 300px;
}

.tab-section .tab-content .tab-pane .notice-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tab-section .tab-content .tab-pane .notice-list > li {
  padding: 67px 30px;
}

.tab-section .tab-content .tab-pane .notice-list li ul .notice-date {
  font-size: 1.125rem;
  float: left;
}

.tab-section .tab-content .tab-pane .notice-list li ul .notice-date strong {
  font-size: 2.5rem;
  color: #2cbbb6;
  line-height: 0.525;
  padding-left: 10px;
}

.tab-section .tab-content .tab-pane .notice-list .notice-header {
  font-size: 1.125rem;
  line-height: 1.333;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 34px;
  width: 250px;
  display: block;
  padding-top: 20px;
}

.tab-section .tab-content .tab-pane .notice-list .notice-text {
  padding-top: 45px;
}

.footer {
  width: 100%;
  height: 150px;
  margin: auto;
  background-color: #434448;
  color: white;
  min-width: 1200px;
  padding-top: 50px;
}

.footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.footer .wrapper .footer-logo a {
  display: inline-block;
}

.footer .wrapper .link-list {
  padding-left: 105px;
}

.footer .wrapper .link-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .wrapper .link-list ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: left;
  position: relative;
}

.footer .wrapper .link-list ul li::after {
  content: "";
  width: 1px;
  height: 13px;
  background-color: #7c7c7f;
  position: absolute;
  right: 25px;
  top: 5px;
}

.footer .wrapper .link-list ul li:last-child::after {
  display: none;
}

.footer .wrapper .link-list .copyright {
  color: #83858a;
  padding-top: 20px;
}

.footer .wrapper .dropdown {
  position: absolute;
  right: 0;
  top: 0;
}

.footer .wrapper .dropdown .dropbtn {
  border: 1px solid white;
  border-radius: 3px;
  font-size: 14px;
  background-color: rgba(67, 68, 72, 0);
  line-height: 1.2;
  padding: 15px 53px 15px 22px;
  position: relative;
}

.footer .wrapper .dropdown .dropbtn::after {
  content: "";
  background-image: url(../images/arrow.png);
  width: 9px;
  height: 5px;
  position: absolute;
  background-repeat: no-repeat;
  top: 22px;
  right: 24px;
}

.footer .wrapper .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background: #666666;
  width: 100%;
  bottom: 37px;
}

.footer .wrapper .dropdown .dropdown-content li {
  font-size: 1rem;
  color: white;
  padding: 15px 22px;
}

.show {
  display: block;
}

.faq-banner {
  background-image: url(../images/faq-bg.png);
  width: 100%;
  min-width: 1200px;
  background-position: center;
  background-size: cover;
  height: 240px;
  margin-bottom: 30px;
}

.faq-banner h2 {
  color: white;
  line-height: 1.2;
  text-align: center;
  font-size: 2.063rem;
  padding-top: 80px;
}

.faq-banner .breadcrumbs {
  text-align: center;
  padding-top: 22px;
  color: white;
}

.faq-banner .breadcrumbs span,
.faq-banner .breadcrumbs a {
  background-image: url(../images/naex-arrow.png);
  background-repeat: no-repeat;
  background-position: 100% 10px;
  padding-left: 10px;
}

.faq-banner .breadcrumbs span:last-child,
.faq-banner .breadcrumbs a:last-child {
  background: none;
}

.faq-banner .breadcrumbs .home::before {
  content: "";
  background-image: url(../images/home.png);
  width: 17px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}

.faq-banner .breadcrumbs .home span {
  padding-right: 17px;
  text-indent: -9999px;
  font-size: 0;
}

.faq-section {
  width: 100%;
  margin: auto;
  margin-bottom: 50px;
}

.faq-section .nav-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.faq-section .nav-tabs li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  font-size: 1.25rem;
  line-height: 2.3;
  background-color: #e9e9e9;
  border-bottom: 2px solid #2cc5b6;
}

.faq-section .nav-tabs li > a {
  display: block;
  line-height: 2.3;
  border: none;
}

.faq-section .nav-tabs > li.active > a {
  color: #2cbbb6;
  line-height: 2.3;
  font-size: 1.25rem;
  border: 2px solid #2cc5b6;
  border-bottom: none;
}

.faq-section .nav-tabs > li.active {
  border: none;
}

.faq-section .faq-link {
  position: relative;
  margin-top: 50px;
  margin-bottom: 55px;
}

.faq-section .faq-link .btns {
  display: inline-block;
}

.faq-section .faq-link .third {
  background-color: #494c5a;
  color: #ffffff;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  display: inline-block;
}

.faq-section .faq-link .btn-small {
  min-width: 10.625rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.875rem 1.4375rem;
  font-size: 1.125rem;
  font-weight: 400;
  text-align: center;
  border: 0.0625rem solid #2cbbb6;
}

.faq-section .faq-link .btn.btn-small.third-line {
  color: #333333;
  border-color: #494c5a;
}

.faq-section .input-seach {
  position: relative;
  border: 2px solid #2cbbb6;
  overflow: hidden;
  display: inline-block;
  height: 3.125rem;
  width: 25rem;
  margin-left: 0.625rem;
  position: absolute;
  right: 0;
}

.faq-section .input-seach input {
  padding: 0rem 3.75rem 0rem 1.875rem;
  font-size: 0.875rem;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.faq-section .input-seach .icon-search {
  background-image: url(../images/search.png);
  position: absolute;
  right: 17px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 27px;
  height: 27px;
}

.ranks {
  text-align: right;
  margin-bottom: 10px;
}

.ranks ul li {
  display: inline-block;
  padding: 0px 14px;
  position: relative;
}

.ranks ul li:last-child::after {
  display: none;
}

.ranks ul li::after {
  content: "";
  background-color: #d5d5d5;
  width: 1px;
  height: 9px;
  position: absolute;
  right: 0;
  top: 7px;
}

.tab-content .tab-pane {
  border-top: 1px solid black;
}

.tab-content .tab-pane .accordion {
  line-height: 1.4;
  font-size: 1.25rem;
  padding: 25px 0px;
  border-bottom: 1px solid #d5d5d5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.tab-content .tab-pane .accordion span {
  color: #2cbbb6;
}

.tab-content .tab-pane .accordion > a::after {
  background-image: url(../images/accordrion.png);
  background-repeat: no-repeat;
  content: '';
  background-position: center;
  position: absolute;
  top: 14px;
  right: 15px;
  display: block;
  width: 24px;
  height: 47px;
  border-radius: 2px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.tab-content .panel {
  overflow: hidden;
  display: none;
  height: 250px;
  background-color: #f9f9f9;
  font-size: 1rem;
  color: #666666;
  line-height: 1.75;
}

.tab-content .panel > ul {
  padding: 20px 20px;
}

.tab-content .panel span {
  font-size: 1.25rem;
  color: #333333;
  line-height: 1.4;
}

.active > a::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
