body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: burlywood;
}

body {
  -webkit-text-size-adjust: none;
}

body * {
  box-sizing: border-box;
}

ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: none;
}

input, select, textarea, fieldset, button {
  outline: none;
  margin: 0;
  padding: 0;
  width: auto;
  min-width: auto;
  border: 0;
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

em {
  font-style: normal;
}

textarea {
  resize: none;
}

.hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

img {
  width: 100%;
  height: 100%;
}

input {
  appearance: none;
  border-radius: 4px;
  border: none;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}

.input-form {
  display: flex;
  justify-content: center;
}

.input-form input[type="email"] {
  border-bottom-left-radius: 44px;
  border-bottom-right-radius: 0;
  border-top-left-radius: 44px;
  border-top-right-radius: 0;
  background-color: #ffffff;
  width: 400px;
  height: 50px;
  color: #333333;
}

.input-form a {
  border-top-right-radius: 44px;
  border-bottom-right-radius: 44px;
  background-color: #5ab7bd;
  color: white;
  line-height: 50px;
  width: 100px;
  text-align: center;
  font-size: 14px;
}

header {
  display: flex;
  width: 1200px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

header .logo > span {
  padding-left: 20px;
}

header nav {
  flex: 1 1 auto;
  text-align: right;
}

@media (max-width: 1200px) {
  header {
    width: calc(100% - 15%);
  }
}

.section {
  width: 100%;
}

.section .wrapper {
  width: 85%;
  max-width: 1200px;
  margin: auto;
}

.section .wrapper.whtie-main {
  background-color: white;
}

.section .wrapper.violet-main {
  background-color: blueviolet;
}

.section .wrapper.main {
  padding: 80px;
}

.section .wrapper.slide-main {
  padding: 100px;
}

.section .wrapper.gray-main {
  background-color: #4cabb1;
  color: white;
}

.section .wrapper .header {
  text-align: center;
}

.card-section {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.card-section .card-banner {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.card-section .card-banner .text-banner {
  display: flex;
  padding: 5.55556vw;
  flex-direction: column;
  color: white;
}

.card-section .card-banner .text-banner.corncolor-box {
  background-color: cornflowerblue;
}

.card-section .card-banner .text-banner.stacolor-box {
  background-color: slateblue;
}

.card-section .img-banner {
  display: flex;
  width: 60%;
}

.card-banner {
  display: flex;
}

.card-banner .sm {
  width: 40%;
}

.card-banner .la {
  width: 60%;
}

.card-banner .text-card {
  text-align: center;
  padding: 3.24074vw;
  padding-bottom: 1.38889vw;
}

.card-banner .text-card p {
  color: #808080;
  margin: 0 0 25px 0;
  font-size: 1.01852vw;
}

.card-banner .text-card a {
  background-color: #575b72;
  color: #ffffff;
  display: inline-block;
  padding: 0 4.62963vw;
  border-radius: 3.75rem;
  line-height: 3.125rem;
}

.dolor .header {
  text-align: center;
  margin-bottom: 20px;
}

.dolor .header > h2 {
  margin: 0 0 10px 0;
}

.dolor .header > p {
  color: #808080;
  margin: 0;
}

.dolor .wrap-list > ul {
  display: flex;
}

.dolor .wrap-list > ul > li {
  flex: 0 1 calc(100%/3);
  padding: 20px;
  text-align: center;
}

.dolor .wrap-list > ul > li > p {
  padding: 0 15px 0px 15px;
}

.dolor .wrap-list.solid-list > ul > li {
  border-right: 1px solid black;
}

.dolor .wrap-list.solid-list > ul > li:last-child {
  border: none;
}

footer .section .wrapper .link-footer {
  display: flex;
  text-align: center;
}

footer .section .wrapper .link-footer div {
  flex: 1 1 25%;
  border-right: 1px solid #ffffff;
  color: #ffffff;
}

footer .section .wrapper .link-footer div:last-child {
  border: none;
}

footer .section .wrapper .link-footer div > ul > li {
  margin-top: 10px;
}

footer .section .wrapper .link-footer div > ul > li > a {
  color: rgba(255, 255, 255, 0.8);
}

footer .section .wrapper .company-info {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

footer .section .wrapper .company-info > li {
  padding-right: 15px;
  color: white;
}

footer .section .wrapper .company-info > li > a {
  color: white;
}

footer .section .wrapper .company-info > li:last-child {
  padding: 0;
}

footer .section .wrapper .copyright {
  text-align: center;
  color: #ffffff;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #4cabb1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidebar.custom-slide .link-list {
  width: calc(100% - 70px);
  margin: auto;
}

.sidebar.custom-slide .link-list > li {
  border-bottom: 1px solid #f1f1f1;
}

.sidebar.custom-slide .link-list > li:last-child {
  border: none;
}

.sidebar.custom-slide .link-list > li a {
  color: rgba(241, 241, 241, 0.5);
  text-align: left;
  padding: 20px 0;
}

.sidebar.custom-slide .link-list > li a:hover {
  color: #f1f1f1;
}

.sidebar .join {
  width: calc(100% - 70px);
  margin: auto;
}

.sidebar .join > li > a {
  color: rgba(241, 241, 241, 0.5);
  border: 1px solid #f1f1f1;
  border-radius: 30px;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  padding-right: 30px;
  font-size: 1.125rem;
}

.sidebar .join > li > a:hover {
  color: #f1f1f1;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

.slide-main {
  position: relative;
}

.slide-main .main-banner .main-nav button {
  border: none;
  background-color: unset;
  color: white;
  font-size: 8.125rem;
}

.slide-main .main-banner .main-nav .owl-prev {
  position: absolute;
  top: 70px;
  left: -70px;
}

.slide-main .main-banner .main-nav .owl-next {
  position: absolute;
  top: 70px;
  right: -70px;
}

.slide-main .main-banner .owl-dots {
  display: none;
}
/*# sourceMappingURL=style.css.map */