@font-face {
  font-family: 'notokr-bold';
  src: url("../font/notokr-bold.eot");
  src: url("../font/notokr-bold.eot?#iefix") format("embedded-opentype"), url("../font/notokr-bold.woff2") format("woff2"), url("../font/notokr-bold.woff") format("woff"), url("../font/notokr-bold.ttf") format("truetype"), url("../font/notokr-bold.svg#notokr-bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'notokr-medium';
  src: url("../font/notokr-medium.eot");
  src: url("../font/notokr-medium.eot?#iefix") format("embedded-opentype"), url("../font/notokr-medium.woff2") format("woff2"), url("../font/notokr-medium.woff") format("woff"), url("../font/notokr-medium.ttf") format("truetype"), url("../font/notokr-medium.svg#notokr-medium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'notokr-regular';
  src: url("../font/notokr-regular.eot");
  src: url("../font/notokr-regular.eot?#iefix") format("embedded-opentype"), url("../font/notokr-regular.woff2") format("woff2"), url("../font/notokr-regular.woff") format("woff"), url("../font/notokr-regular.ttf") format("truetype"), url("../font/notokr-regular.svg#notokr-regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'notokr-demilight';
  src: url("../font/notokr-demilight.eot");
  src: url("../font/notokr-demilight.eot?#iefix") format("embedded-opentype"), url("../font/notokr-demilight.woff2") format("woff2"), url("../font/notokr-demilight.woff") format("woff"), url("../font/notokr-demilight.ttf") format("truetype"), url("../font/notokr-demilight.svg#notokr-demilight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '3MCircular-bold';
  src: url("../font/3MCircular-Bold.eot");
  src: url("../font/3MCircular-Bold.eot?#iefix") format("embedded-opentype"), url("../font/3MCircular-Bold.woff") format("woff"), url("../font/3MCircular-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '3MCircular-book';
  src: url("../font/3MCircular-Book.eot");
  src: url("../font/3MCircular-Book.eot?#iefix") format("embedded-opentype"), url("../font/3MCircular-Book.woff") format("woff"), url("../font/3MCircular-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'notokr-regular', dotum, gulim, verdana, sans-serif;
}

/* add */
a {
  text-decoration: none;
  color: inherit;
}

button {
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
}

img {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
}

input[type="text"] {
  padding: 0;
  border: 0;
}

body {
  font-size: 16px;
}

body {
  font-size: 16px;
}

.header {
  position: relative;
  height: 2.1875rem;
  background: #212023;
}

.header .login-btn {
  position: absolute;
  top: 5px;
  left: 15px;
  display: inline-block;
  height: 1.5rem;
  line-height: 24px;
  padding: 0 0.9375rem;
  color: #818181;
  font-size: 0.625rem;
  background: #302f32;
  text-align: center;
}

.header ul {
  text-align: right;
  padding: 0.3125rem 0.46875rem 0 0;
}

.header ul li {
  display: inline-block;
}

.header ul li a {
  display: block;
  color: #818181;
  font-size: 0.625rem;
  line-height: 0.875rem;
}

.nav {
  background-color: #ffffff;
  height: 3.25rem;
  position: relative;
}

.nav .menu {
  position: absolute;
  top: 10px;
  left: 20px;
}

.nav .menu img {
  display: block;
  width: 1.09375rem;
  height: 0.9375rem;
}

.nav a {
  display: inline-block;
  vertical-align: middle;
}

.nav .logo {
  text-align: center;
  padding-top: 0.5rem;
}

.nav .logo img {
  height: 1.6875rem;
  vertical-align: middle;
}

.nav .search {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 1.5rem;
  height: 1.5rem;
}

.nav .search img {
  width: 1.5rem;
  height: 1.5rem;
}

.sub-nav {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: fixed;
  width: 0px;
}

.sub-nav .sidenav {
  display: none;
  width: 0px;
  height: 100%;
  background: #2a292c;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  top: 35px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sub-nav .sidenav h2 {
  color: white;
  font-size: 0.9375rem;
  padding: 0 0 0 0.9375rem;
  line-height: 40px;
  background-color: #212023;
  font-weight: 400;
}

.sub-nav .sidenav h3 {
  color: white;
  line-height: 38px;
  padding: 0.625rem 0 0 0.9375rem;
  font-size: 0.875rem;
  color: white;
  font-weight: 400;
}

.sub-nav .sidenav ul {
  border-top: 1px solid #3c3c3c;
}

.sub-nav .sidenav ul li a {
  display: block;
  height: 30px;
  line-height: 30px;
  color: #d6d6d6;
}

.sub-nav .sidenav ul .accordion {
  position: relative;
  padding-left: 0.9375rem;
  color: #d4d4d4;
  font-size: 0.6875rem;
}

.sub-nav .sidenav ul .accordion > a::after {
  content: '';
  position: absolute;
  top: 14px;
  right: 15px;
  display: block;
  width: 9px;
  height: 2px;
  background: #a7a7a8;
  border-radius: 2px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.sub-nav .sidenav ul .accordion > a::before {
  content: '';
  position: absolute;
  top: 14px;
  right: 15px;
  display: block;
  width: 9px;
  height: 2px;
  background: #a7a7a8;
  border-radius: 2px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.sub-nav .sidenav ul .panel {
  overflow: hidden;
  display: none;
}

.sub-nav .sidenav ul .panel ul > li > a {
  font-size: 0.625rem;
  padding-left: 0.9375rem;
}

.sub-nav .sidenav .close {
  position: absolute;
  top: 8px;
  left: 197px;
}

.sub-nav .sidenav img {
  width: 0.875rem;
}

.sub-nav .active > a::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.point-link {
  padding: 0.9375rem 0.9375rem 0.15625rem 0.9375rem;
}

.point-link a {
  display: block;
  color: #ffffff;
  background-color: #ff0000;
  text-align: center;
  font-size: 0.75rem;
  height: 2.9375rem;
  line-height: 47px;
}

.sub-navlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sub-navlist li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  border-bottom: 1px solid #3c3c3c;
  background-image: url(../images/gnb_arrow01.png);
  background-repeat: no-repeat;
  background-position: 90% center;
  background-size: 0.3125rem 0.5625rem;
  border-right: 1px solid #3c3c3c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sub-navlist li a {
  display: block;
  height: rme(60);
  line-height: 39px;
  padding: 0 0 0 0.9375rem;
  color: #d6d6d6;
  font-size: 0.6875rem;
}

.main-box {
  background-image: url(../images/main_link_bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 82px;
  padding-left: 15px;
  height: 7.8125rem;
}

.main-box p {
  color: white;
}

.main-box .year {
  font-family: 'notokr-bold';
  line-height: 16px;
  font-size: 0.9375rem;
}

.main-box .oral-text {
  margin: 0.1875rem 0 0.625rem 0;
  font-family: '3MCircular-bold';
  font-size: 0.8125rem;
}

.main-box > ul {
  width: 16.875rem;
  margin-bottom: 9px;
}

.main-box > ul li {
  width: 5.625rem;
  float: left;
}

.main-box > ul li a {
  font-size: 0.3125rem;
  color: #d6d6d6;
  line-height: 14px;
}

.main-mall {
  text-align: center;
  width: 100%;
}

.main-mall img {
  height: 8.84375rem;
  width: 100%;
}

.main-mall a {
  display: block;
}

.main-product {
  border: 1px solid #e5e8ec;
  background-color: #f8f8f8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  padding: 25px 15px 20px 15px;
}

.main-product .product-header h4 {
  font-size: 1.0625rem;
  line-height: 1.48;
  color: #333333;
  letter-spacing: -1.68px;
  font-weight: 600;
  padding-bottom: 10px;
}

.main-product .product-header p {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.42;
  letter-spacing: -0.6px;
}

.main-product .product-info img {
  height: 6.0625rem;
  margin: 13px auto 17px;
}

.main-product .product-info p {
  font-family: 'notokr-bold';
  font-size: 0.75rem;
  line-height: 1.25;
  letter-spacing: -0.6px;
  color: #818181;
}

.main-product .all-prd {
  border: 1px solid #e5e8ec;
  background-color: #ffffff;
  display: block;
  padding: 0.75rem;
  color: #818181;
  position: relative;
  font-size: 0.6875rem;
  margin-top: 1.0625rem;
}

.main-product .all-prd::after {
  content: '';
  position: absolute;
  background-image: url(../images/gnb_arrow01.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 8px;
  height: 10px;
  right: 10px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.new-occ {
  padding: 25px 15px 20px 15px;
}

.new-occ h4 {
  font-size: 1.04688rem;
  font-weight: bold;
  line-height: 1.48;
  letter-spacing: -1.68;
  color: #333333;
  text-align: center;
  padding-bottom: 1.09375rem;
}

.new-occ .new-occ-info {
  border: 1px solid #e5e8ec;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.new-occ .new-occ-info img {
  height: 6.96875rem;
}

.new-occ .occ-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.new-occ .occ-text .a-to-z {
  font-size: 0.8125rem;
  line-height: 1.38;
  letter-spacing: -0.65px;
  text-align: left;
  color: #555555;
  padding-bottom: 0.78125rem;
  font-weight: bold;
}

.new-occ .occ-text .tip {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: -0.6px;
  text-align: left;
  color: #555555;
}

.new-occ .all-occ {
  border: solid 1px #e5e8ec;
  background-color: #ffffff;
  font-size: 0.6875rem;
  padding: 0.75rem 6.8125rem 0.75rem 6.90625rem;
  line-height: 1.7;
  letter-spacing: -1.1px;
  text-align: center;
  color: #333333;
  font-weight: 500;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: block;
  border-top: none;
}

.new-occ .all-occ::after {
  content: '';
  background-image: url(../images/gnb_arrow01.png);
  position: absolute;
  width: 8px;
  height: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  right: 10px;
  top: 16px;
}

.event-banner a {
  display: block;
}

.event-banner img {
  width: 100%;
}

.wrapper-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.9375rem;
}

.wrapper-row .official-agency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border: 1px solid #e5e8ec;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.9375rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.wrapper-row .official-agency .agency-header {
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: -0.6px;
  color: #818181;
}

.wrapper-row .official-agency .dentist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper-row .official-agency .dentist li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 0.60938rem;
  border-right: solid 1px #e5e8ec;
  font-style: normal;
  line-height: 1.72;
  letter-spacing: -0.59px;
  text-align: center;
  color: #818181;
}

.wrapper-row .official-agency .dentist li:last-child {
  border-right: none;
}

.wrapper-row .official-agency img {
  width: 100%;
}

.wrapper-row .kakao-plus {
  margin-left: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.wrapper-row .kakao-plus img {
  width: 100%;
  height: 100%;
}

.notice-list {
  border: solid 1px #e5e8ec;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  padding: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.notice-list .notice-header {
  border: 1px solid #e5e8ec;
  border-radius: 20px;
  padding: 0.3125rem;
  width: 2.90625rem;
  text-align: center;
  font-size: 0.6875rem;
  font-weight: 500;
}

.notice-list .notice-info {
  font-size: 0.6875rem;
  font-weight: 300;
  line-height: 1.7;
  letter-spacing: -0.55px;
  display: inline;
  vertical-align: middle;
  color: #555555;
  padding-left: 0.625rem;
  padding-top: 5px;
}

.footer {
  padding: 0.8125rem 0.8125rem 0.9375rem 0.8125rem;
}

.footer .footer-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.footer .footer-list ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.footer .footer-list ul li::after {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 1px;
  height: 8px;
  border-right: 1px solid #e5e8ec;
}

.footer .footer-list ul li a {
  font-size: 0.625rem;
}

.footer .footer-text01 {
  color: #777;
  font-size: 0.625rem;
  line-height: 16px;
  padding: 0.6875rem 0 0.6875rem 0;
  font-family: 'notokr-demilight';
}

.footer .footer-text01 strong {
  color: #333333;
}

.footer span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer address {
  display: block;
  color: #777;
  font-family: 'notokr-demilight';
  font-size: 0.625rem;
  line-height: 16px;
}

.footer .copy {
  display: block;
  color: #777;
  font-family: 'notokr-demilight';
  font-size: 0.625rem;
  line-height: 16px;
}
