.banner-section {
  width: 100%;
  margin: auto;
}

.banner-section .main-banner {
  position: relative;
}

.banner-section .main-banner .main-dot {
  position: absolute;
  top: 67%;
  left: 50%;
  -webkit-transform: translate(-67%, -50%);
          transform: translate(-67%, -50%);
}

.banner-section .main-banner .main-dot button.owl-dot {
  border: 1px solid white;
  color: #8d9fd9;
  margin-left: 11px;
  width: rem(12);
  height: rem(12);
  background-color: white;
  background: transparent;
  -webkit-transition: width .3s;
  transition: width .3s;
  border-radius: 50%;
}

.banner-section .main-banner .main-dot button.active {
  width: rem(36);
  height: rem(12);
  background-color: #2cbbb6;
  border-radius: 5px;
}

.banner-section .slide-img {
  background-image: url(../images/section-bg.png);
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: rem(550);
}

.banner-section .slide-img p {
  font-size: rem(24);
  color: white;
  line-height: 1.167;
  padding-top: 8.438rem;
  text-align: center;
}
