@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'NotoSansCJKkr', sans-serif;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'notokr-regular', dotum, gulim, verdana, sans-serif;
}


/* add */

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
}

img {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
}

input[type="text"] {
  padding: 0;
  border: 0;
}

body {
  font-size: 16px;
}

body {
  font-size: 16px;
}

.header {
  position: relative;
  background-color: white;
  height: 2.8125rem;
}

.header .container {
  position: absolute;
  display: inline-block;
  margin-top: 0.5rem;
  cursor: pointer;
}

.header .container .bar1,
.header .container .bar2,
.header .container .bar3 {
  width: 1.1875rem;
  height: 0.125rem;
  background-color: #2cbbb6;
  margin: 0.3125rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header .logo {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header .logo img {
  width: 6.65625rem;
}

.header .ico {
  position: absolute;
  right: 0.875rem;
  margin-top: 0.5rem;
}

.header .ico img {
  width: 1.09375rem;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-0.375rem, 0.1875rem);
  transform: rotate(-45deg) translate(-0.375rem, 0.1875rem);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-0.4375rem, -0.25rem);
  transform: rotate(45deg) translate(-0.4375rem, -0.25rem);
}

.banner-section {
  width: 100%;
  margin: auto;
}

.banner-section .main-banner {
  position: relative;
}

.banner-section .main-banner .main-dot {
  position: absolute;
  top: 67%;
  left: 50%;
  -webkit-transform: translate(-67%, -50%);
  transform: translate(-67%, -50%);
}

.banner-section .main-banner .main-dot button.owl-dot {
  border: 1px solid white;
  color: #8d9fd9;
  margin-left: 11px;
  width: 0.375rem;
  height: 0.375rem;
  background-color: white;
  background: transparent;
  -webkit-transition: width .3s;
  transition: width .3s;
  border-radius: 50%;
}

.banner-section .main-banner .main-dot button.active {
  width: 1.125rem;
  height: 0.375rem;
  background-color: #2cbbb6;
  border-radius: 5px;
}

.banner-section .slide-img {
  background-image: url(../images/section-bg.png);
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 17.1875rem;
}

.banner-section .slide-img p {
  font-size: 0.75rem;
  color: white;
  line-height: 1.167;
  padding-top: 8.438rem;
  text-align: center;
}

.card-section {
  padding: 1.5625rem 0.9375rem;
}

.card-section .box-list a {
  display: block;
}

.card-section .box-list .border-box {
  border-radius: 15px;
  background-color: #94d1ca;
  height: 5.625rem;
  margin-bottom: 0.625rem;
  background-repeat: no-repeat;
  background-position: 94%;
}

.card-section .box-list .border-box h2 {
  font-size: 1.25rem;
  color: white;
  line-height: 0.7;
  padding-top: 1.34375rem;
  padding-left: 1.875rem;
}

.card-section .box-list .border-box P {
  font-size: 0.75rem;
  font-family: "NotoSansCJKkr";
  color: white;
  line-height: 1;
  text-align: left;
  padding-left: 1.875rem;
  padding-top: 0.625rem;
  text-align: left;
}

.card-section .box-list .intro-box {
  background-image: url(../images/intro-box.png);
  background-size: 2rem;
  background-position: 89%;
}

.card-section .box-list .servit-box {
  background-image: url(../images/service-box.png);
  background-size: 3rem;
  background-color: #2cbbb6;
}

.card-section .box-list .servit-box p {
  letter-spacing: -1px;
}

.card-section .box-list .keep-box {
  background-image: url(../images/keep-box.png);
  background-size: 3rem;
  background-color: #23becc;
}

.tab-section {
  width: 100%;
  background-image: url(../images/tab-banner-bg.png);
  height: 20.3125rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.tab-section .tab-menu .nav-tabs {
  text-align: center;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1.5625rem;
  font-size: 0.9375rem;
  font-weight: bold;
}

.tab-section .tab-menu .nav-tabs li {
  float: none;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.tab-section .tab-menu .nav-tabs .active {
  background-color: unset;
  border: none;
}

.tab-section .tab-menu .nav-tabs .active>a {
  display: inline-block;
  border: none;
  background-color: unset;
  padding-bottom: 10px;
  border-bottom: 3px solid #2cbbb6;
  color: #2cbbb6;
}

.tab-content {
  padding-left: 11px;
}

.tab-content .tab-pane {
  border-radius: 15px;
  background-color: white;
  height: 14.1875rem;
}

.tab-content .tab-pane .notice-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.9375rem 1.40625rem 0 1.40625rem;
}

.tab-content .tab-pane .notice-list>li {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 1.34375rem;
  padding-top: 0.9375rem;
}

.tab-content .tab-pane .notice-list li ul .notice-date {
  font-size: 0.75rem;
  float: left;
}

.tab-content .tab-pane .notice-list li ul .notice-date strong {
  font-size: 1.25rem;
  color: #2cbbb6;
  line-height: 0.525;
  padding-left: 10px;
}

.tab-content .tab-pane .notice-list .notice-header {
  font-size: 0.8125rem;
  line-height: 1.333;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 34px;
  display: block;
  text-align: left;
}

.tab-content .tab-pane .notice-list .notice-text {
  font-size: 0.75rem;
  color: #666666;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 34px;
  display: block;
  width: 232px;
}

.footer {
  background-color: #434448;
  color: white;
  height: 11.25rem;
  padding-top: 1.25rem;
}

.footer .dropdown .dropbtn {
  border: 1px solid white;
  border-radius: 3px;
  margin: auto;
  display: block;
  width: calc(100% - 15px);
  font-size: 0.875rem;
  line-height: 1.2;
  padding: 0.5625rem 1.78125rem;
  position: relative;
}

.footer .dropdown .dropbtn::after {
  content: "";
  background-image: url(../images/arrow.png);
  width: 21px;
  height: 0.34375rem;
  position: absolute;
  background-repeat: no-repeat;
  top: 13px;
  right: 24px;
}

.footer .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background: #666666;
  width: calc(100% - 15px);
  bottom: 47px;
  right: 7px;
}

.footer .dropdown .dropdown-content li {
  font-size: 1rem;
  color: white;
  padding: 15px 22px;
  border-bottom: 1px solid white;
}

.footer .footer-logo {
  text-align: center;
  padding-top: 1.53125rem;
}

.footer .footer-logo img {
  width: 6.65625rem;
}

.footer .link-list {
  text-align: center;
}

.footer .link-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .link-list ul li {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 0.75rem;
  text-align: center;
  position: relative;
}

.footer .link-list ul li::after {
  content: "";
  background-color: #7c7c7f;
  width: 1px;
  height: 10px;
  position: absolute;
  right: 0;
}

.footer .link-list ul li:last-child::after {
  display: none;
}

.footer .link-list .copyright {
  font-size: 0.75rem;
  color: #93959a;
  line-height: 1.2;
}

.sidenav {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidenav>div {
  position: relative;
  height: 2.8125rem;
  background-color: #2cbbb6;
}

.sidenav .container {
  position: absolute;
  display: inline-block;
  margin-top: 0.5rem;
  cursor: pointer;
}

.sidenav .container .bar1,
.sidenav .container .bar2,
.sidenav .container .bar3 {
  width: 1.1875rem;
  height: 0.125rem;
  background-color: white;
  margin: 0.3125rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.sidenav .logo {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sidenav .logo img {
  width: 6.65625rem;
}

.sidenav .ico {
  position: absolute;
  right: 0.875rem;
  margin-top: 0.5rem;
}

.sidenav .ico img {
  width: 1.09375rem;
}

.sidenav .bar1 {
  -webkit-transform: rotate(-45deg) translate(-0.375rem, 0.1875rem);
  transform: rotate(-45deg) translate(-0.375rem, 0.1875rem);
}

.sidenav .bar2 {
  opacity: 0;
}

.sidenav .bar3 {
  -webkit-transform: rotate(45deg) translate(-0.4375rem, -0.25rem);
  transform: rotate(45deg) translate(-0.4375rem, -0.25rem);
}

.sidenav ul {
  padding: 0px 0.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sidenav ul .accordion {
  font-size: 1.03125rem;
  line-height: 3.636;
  color: #333333;
  position: relative;
  border-bottom: 1px solid #d5d5d5;
  padding-left: 3.75rem;
  background-repeat: no-repeat;
  background-size: 1.375rem;
  background-position: 5% 53%;
}

.sidenav ul .accordion::after {
  content: "";
  background-image: url(../images/accodion-next.png);
  background-repeat: no-repeat;
  width: 0.5rem;
  height: 0.9375rem;
  background-size: cover;
  position: absolute;
  right: 0.3125rem;
  top: 1.375rem;
}

.sidenav ul .ico_sign {
  background-image: url("../images/ico_sign.png");
}

.sidenav ul .ico_box {
  background-image: url("../images/ico_box.png");
}

.sidenav ul .ico_mail {
  background-image: url("../images/ico_mail.png");
}

.sidenav ul .ico_clip {
  background-image: url("../images/ico_clip.png");
}

.sidenav ul .ico_coin {
  background-image: url("../images/ico_coin.png");
}

.sidenav ul .pannel {
  display: none;
  overflow: hidden;
}