.tab-section {
  width: 100%;
  background-image: url(../images/tab-banner-bg.png);
  height: rem(650);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.tab-section .tab-menu .nav-tabs {
  text-align: center;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: rem(50);
  font-size: rem(30);
  font-weight: bold;
}

.tab-section .tab-menu .nav-tabs li {
  float: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.tab-section .tab-menu .nav-tabs .active {
  background-color: unset;
  border: none;
}

.tab-section .tab-menu .nav-tabs .active > a {
  display: inline-block;
  border: none;
  background-color: unset;
  padding-bottom: 10px;
  border-bottom: 3px solid #2cbbb6;
  color: #2cbbb6;
}

.tab-content {
  padding-left: 11px;
}

.tab-content .tab-pane {
  border-radius: 15px;
  background-color: white;
  height: rem(454);
}

.tab-content .tab-pane .notice-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: rem(30) rem(45) 0 rem(45);
}

.tab-content .tab-pane .notice-list > li {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: rem(43);
  padding-top: rem(30);
}

.tab-content .tab-pane .notice-list li ul .notice-date {
  font-size: rem(24);
  float: left;
}

.tab-content .tab-pane .notice-list li ul .notice-date strong {
  font-size: rem(40);
  color: #2cbbb6;
  line-height: 0.525;
  padding-left: 10px;
}

.tab-content .tab-pane .notice-list .notice-header {
  font-size: rem(26);
  line-height: 1.333;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 34px;
  display: block;
  text-align: left;
}

.tab-content .tab-pane .notice-list .notice-text {
  font-size: rem(24);
  color: #666666;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 34px;
  display: block;
  width: 232px;
}
