@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'NotoSansCJKkr', sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'notokr-regular', dotum, gulim, verdana, sans-serif;
}

/* add */
a {
  text-decoration: none;
  color: inherit;
}

button {
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
}

img {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
}

input[type="text"] {
  padding: 0;
  border: 0;
}

body {
  font-size: 16px;
}

body {
  font-size: 16px;
}

.header {
  position: relative;
  height: 2.8125rem;
}

.header .menu {
  display: inline-block;
  padding-left: 0.8125rem;
  padding-top: 0.90625rem;
  cursor: pointer;
}

.header .menu .bar1,
.header .menu .bar2,
.header .menu .bar3 {
  width: 1.1875rem;
  height: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  margin: 0.28125rem 0;
}

.header .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header .logo img {
  width: 3.28125rem;
}

.header .search-btn {
  position: absolute;
  right: 0.78125rem;
  top: 0.78125rem;
}

.header .search-btn img {
  width: 1.25rem;
}

.slide-banner {
  position: relative;
  height: 15.625rem;
}

.slide-banner .main-banner .slide-img {
  background-image: url(../images/slide-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: block;
  height: 15.625rem;
}

.slide-banner .main-banner .main-dot {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 87%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 15px;
}

.slide-banner .main-banner .main-dot button.owl-dot {
  border: 1px solid white;
  color: #8d9fd9;
  width: 0.34375rem;
  height: 0.34375rem;
  background-color: #666666;
  border-radius: 50%;
  vertical-align: super;
  margin-left: 10px;
}

.slide-banner .main-banner .main-dot button.owl-dot:last-child {
  margin-right: 10px;
}

.slide-banner .main-banner .main-dot button.active {
  width: 0.34375rem;
  height: 0.34375rem;
  background-color: white;
  border-radius: 5px;
}

.qulck-service {
  background-image: url(../images/qulck-bg.png);
  background-repeat: no-repeat;
  background-position: 100% -26px;
  margin-bottom: 3.125rem;
}

.qulck-service .service-header {
  padding-top: 3.125rem;
}

.qulck-service .service-header h1 {
  font-size: 1.40625rem;
  color: #333333;
  text-align: center;
}

.qulck-service .service-header h2 {
  text-align: center;
  font-size: 0.875rem;
  color: #e80031;
  display: block;
  padding-top: 0.53125rem;
}

.qulck-service .service-list {
  width: calc(100% - 50px);
  margin: auto;
}

.qulck-service .service-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.qulck-service .service-list ul li {
  width: 3.9375rem;
  padding-top: 1.5625rem;
}

.qulck-service .service-list ul li a {
  display: block;
}

.qulck-service .service-list ul li a .circle {
  width: 3.875rem;
  height: 3.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  background-color: whitesmoke;
  border: 1px solid #d5d5d5;
  background-size: 1.9375rem;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}

.qulck-service .service-list ul li a div {
  font-size: 0.75rem;
  padding-top: 0.65625rem;
  line-height: 1.083;
  color: #333333;
  text-align: center;
  line-height: 1.3;
  width: 65px;
}

.qulck-service .service-list ul li a .service-img1 {
  background-image: url("../images/ico_service1.png");
}

.qulck-service .service-list ul li a .service-img2 {
  background-image: url("../images/ico_service2.png");
}

.qulck-service .service-list ul li a .service-img3 {
  background-image: url("../images/ico_service3.png");
}

.qulck-service .service-list ul li a .service-img4 {
  background-image: url("../images/ico_service4.png");
}

.qulck-service .service-list ul li a .service-img5 {
  background-image: url("../images/ico_service5.png");
}

.qulck-service .service-list ul li a .service-img6 {
  background-image: url("../images/ico_service6.png");
}

.qulck-service .service-list ul li a .service-img7 {
  background-image: url("../images/ico_service7.png");
}

.qulck-service .service-list ul li a .service-img8 {
  background-image: url("../images/ico_service8.png");
}

.center-news {
  background-color: #383840;
}

.center-news .news-header {
  padding-top: 3.28125rem;
}

.center-news .news-header h1 {
  font-size: 1.40625rem;
  color: white;
  text-align: center;
}

.center-news .news-header h2 {
  font-size: 0.875rem;
  color: #e80031;
  text-align: center;
  padding-bottom: 1.5625rem;
}

.center-news .tab-section {
  border: 1px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(100% - 25px);
  margin: auto;
  color: white;
}

.center-news .tab-section .nav-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 25px);
  margin: auto;
}

.center-news .tab-section .nav-tabs li {
  text-align: center;
  color: #adadb9;
  font-size: 0.75rem;
  float: none;
  margin-right: 1.71875rem;
}

.center-news .tab-section .nav-tabs li a {
  padding: 15px 0px;
  padding-bottom: 0.59375rem;
}

.center-news .tab-section .nav-tabs > .active {
  background-color: unset;
  border-bottom: 1px solid red;
}

.center-news .tab-section .nav-tabs > .active > a {
  background-color: unset;
  color: white;
  border: none;
}

.center-news .tab-section .tab-content ul li {
  width: calc(100% - 25px);
  margin: auto;
  font-size: 0.75rem;
  line-height: 1.333;
  border-bottom: 1px solid #585863;
  padding-top: 0.78125rem;
  padding-bottom: 0.625rem;
}

.center-news .tab-section .tab-content ul li a {
  letter-spacing: -2px;
}

.center-news .card-banner {
  padding-top: 1.5625rem;
}

.center-news .card-banner a {
  cursor: pointer;
  display: block;
  padding-bottom: 0.3125rem;
}

.center-news .card-banner a:last-child {
  padding-bottom: 3.125rem;
}

.center-news .card-banner .card {
  width: calc(100% - 25px);
  height: 4.6875rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}

.center-news .card-banner .card p {
  color: white;
  font-size: 1.125rem;
  padding-top: 1.5625rem;
  padding-left: 6.46875rem;
}

.center-news .card-banner .car-news {
  background-image: url(../images/card-banner.png);
}

.center-news .card-banner .car-management {
  background-image: url(../images/card-banner2.png);
}

.center-news .card-banner .car-management p {
  color: black;
}

.center-news .card-banner .car-info {
  background-image: url(../images/card-banner3.png);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid white;
}

.link-banner {
  background-image: url(../images/section-bg.png);
  height: 14.59375rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

.link-banner .link-text {
  width: calc(100% - 30px);
  margin: auto;
  padding-bottom: 1.875rem;
}

.link-banner .link-text h1 {
  padding-top: 3.125rem;
  font-size: 1.4375rem;
  color: #2b2b31;
  letter-spacing: -3px;
}

.link-banner .link-text h1 span {
  color: red;
}

.link-banner .link-text p {
  font-size: 0.75rem;
  color: #666666;
  letter-spacing: -2px;
}

.link-banner .link-btns {
  text-align: center;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 15px);
  padding-top: 1.90625rem;
}

.link-banner .link-btns a {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}

.link-banner .link-btns .btns {
  color: white;
  letter-spacing: -2px;
  text-align: left;
  padding-top: 10px;
  padding-left: 5px;
}

.link-banner .link-btns .btns::after {
  content: "";
  background-image: url(../images/btn-arrow.png);
  background-repeat: no-repeat;
  width: 0.875rem;
  height: 0.71875rem;
  position: absolute;
  right: 0.875rem;
  bottom: 0.90625rem;
  background-size: cover;
}

.link-banner .link-btns .red-btn {
  background-color: #db0432;
  font-size: 0.75rem;
  height: 2.5rem;
  vertical-align: middle;
  margin-right: 5px;
}

.link-banner .link-btns .black-btn {
  background-color: #383840;
  font-size: 0.75rem;
}

.Rectangle_8 {
  background-color: #db0432;
  position: absolute;
  left: 30px;
  top: 3020px;
  width: 340px;
  height: 80px;
  z-index: 22;
}

.footer .footer-list {
  width: calc(100% -15px);
  margin: auto;
}

.footer .footer-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.25rem 0;
}

.footer .footer-list ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 0.6875rem;
  color: #666666;
  text-align: center;
  line-height: 1.2;
}

.footer .footer-list ul li:first-child {
  color: #e80031;
}

.footer .dropdown .dropbtn {
  border: 1px solid #d5d5d5;
  margin: auto;
  display: block;
  width: calc(100% - 15px);
  font-size: 0.75rem;
  line-height: 1.2;
  padding: 0.5625rem 1.78125rem;
  position: relative;
}

.footer .dropdown .dropbtn::after {
  content: "";
  background-image: url(../images/arrow.png);
  width: 21px;
  height: 0.34375rem;
  position: absolute;
  background-repeat: no-repeat;
  top: 13px;
  right: 24px;
}

.footer .dropdown .dropdown-content {
  display: none;
  position: absolute;
  border: 1px solid #d5d5d5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(100% - 15px);
  bottom: 34px;
  right: 7px;
}

.footer .dropdown .dropdown-content li {
  font-size: 1rem;
  color: black;
  padding: 15px 22px;
  border-bottom: 1px solid #d5d5d5;
  background-color: white;
}

.footer .footer-logo {
  text-align: center;
  padding-top: 1.875rem;
}

.footer .footer-logo img {
  width: 9.71875rem;
}

.footer .info {
  font-size: 0.75rem;
  color: #666666;
  line-height: 1.583;
  text-align: center;
}

.footer .info .number-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 65px);
  margin: auto;
}

.footer .info .number-info li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer .info .number-info li:first-child {
  position: relative;
}

.footer .info .number-info li:first-child::after {
  content: "";
  background-color: #e5e5e5;
  width: 0.0625rem;
  height: 0.5625rem;
  right: 0;
  position: absolute;
  top: 4px;
}

.footer .info .footer-notice {
  font-size: 0.6875rem;
  color: #999999;
  line-height: 1.455;
  text-align: center;
  width: calc(100% - 30px);
  margin: auto;
  padding-top: 1.5625rem;
  padding-bottom: 2.1875rem;
}

.sub-nav {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: fixed;
  width: 0px;
  z-index: 2;
}

.sub-nav .sidenav {
  display: none;
  width: 0px;
  height: 100%;
  background: white;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sub-nav .sidenav .sub-link {
  color: white;
  font-size: 0.9375rem;
  padding: 0 0 0 0.9375rem;
  line-height: 40px;
  background-color: red;
  font-weight: 400;
}

.sub-nav .sidenav .sub-link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sub-nav .sidenav .sub-link ul li {
  padding: 1.125rem 0.9375rem;
  font-size: 0.6875rem;
}

.sub-nav .sidenav .sub-link ul li:first-child {
  position: relative;
}

.sub-nav .sidenav .sub-link ul li:first-child::after {
  content: "";
  position: absolute;
  background-color: #b50027;
  width: 0.0625rem;
  height: 0.5625rem;
  right: 0;
  top: 30px;
}

.sub-nav .sidenav h3 {
  color: white;
  line-height: 38px;
  padding: 0.625rem 0 0 0.9375rem;
  font-size: 0.875rem;
  color: white;
  font-weight: 400;
}

.sub-nav .sidenav ul li a {
  display: block;
  height: 30px;
  line-height: 30px;
  font-size: 0.875rem;
  font-family: "NotoSansCJKkr";
}

.sub-nav .sidenav ul .frist-list {
  padding-left: 0.625rem;
}

.sub-nav .sidenav ul .accordion {
  position: relative;
  padding-left: 0.9375rem;
  color: #db0432;
}

.sub-nav .sidenav ul .accordion > a::after {
  content: '';
  position: absolute;
  top: 14px;
  right: 15px;
  display: block;
  width: 9px;
  height: 2px;
  background: #a7a7a8;
  border-radius: 2px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.sub-nav .sidenav ul .accordion > a::before {
  content: '';
  position: absolute;
  top: 14px;
  right: 15px;
  display: block;
  width: 9px;
  height: 2px;
  background: #a7a7a8;
  border-radius: 2px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.sub-nav .sidenav ul .panel {
  overflow: hidden;
  display: none;
}

.sub-nav .sidenav ul .panel ul > li .thrd-link {
  font-size: 0.625rem;
  padding-left: 0.9375rem;
}

.sub-nav .sidenav .close {
  position: absolute;
  top: 8px;
  left: 197px;
}

.sub-nav .sidenav .logo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: whitesmoke;
  padding: 0.9375rem 0;
}

.sub-nav .sidenav .logo-list span {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
}

.sub-nav .sidenav .logo-list span img {
  width: 5.3125rem;
}

.sub-nav .sidenav .logo-list span:first-child img {
  width: 8.3125rem;
}

.sub-nav .sidenav .frist-nav {
  position: relative;
}

.sub-nav .sidenav .frist-nav::after {
  content: "";
  background-image: url(../images/arrow-bottom.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 1.03125rem;
  height: 0.59375rem;
}

.sub-nav .sidenav .frist-nav > .accordion {
  border-bottom: 1px solid #d5d5d5;
}

.sub-nav .sidenav .frist-nav > .accordion > a {
  color: #333333;
  font-size: 0.9375rem;
}

.sub-nav .sidenav .frist-nav > .accordion > a::after {
  display: none;
}

.sub-nav .sidenav .frist-nav > .accordion > a::before {
  display: none;
}

.sub-nav .sidenav .frist-nav > .active {
  border-bottom: 2px solid red;
}

.sub-nav .sidenav .panel {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0;
}

.sub-nav .sidenav .last-accordion {
  background-color: whitesmoke;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
}

.active > a::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.point-link {
  padding: 0.9375rem 0.9375rem 0.15625rem 0.9375rem;
}

.point-link a {
  display: block;
  color: #ffffff;
  background-color: #ff0000;
  text-align: center;
  font-size: 0.75rem;
  height: 2.9375rem;
  line-height: 47px;
}

.sub-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  width: calc(100% - 15px);
  background-color: whitesmoke;
  margin: auto;
  margin-top: 3.125rem;
}

.sub-list li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  border: 1px solid #d5d5d5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-collapse: collapse;
  font-size: 0.75rem;
  color: #333333;
  line-height: 1.2;
}

.close {
  position: absolute;
  right: 0.71875rem;
  top: 0.71875rem;
  opacity: 1;
}

.close img {
  width: 1.25rem;
  height: 1.25rem;
}
