.center-news {
  background-color: rgb(56, 56, 64);
  .news-header {
    padding-top: rem(105);
    h1 {
      font-size: rem(45);
      color: white;
      text-align: center;
    }
    h2 {
      font-size: rem(28);
      color: rgb(232, 0, 49);
      text-align: center;
      padding-bottom: rem(50);
    }
  }
  .tab-section {
    border: 1px solid white;
    box-sizing: border-box;
    width: calc(100% - 25px);
    margin: auto;
    color: rgb(255, 255, 255);
    .nav-tabs {
      display: flex;
      width: calc(100% - 25px);
      margin: auto;
      li {
        text-align: center;
        color: rgb(173, 173, 185);
        font-size: rem(24);
        float: none;
        margin-right: rem(55);
        a {
          padding: 15px 0px;
          padding-bottom: rem(19);
        }
      }
      &>.active {
        background-color: unset;
        border-bottom: 1px solid red;
        &>a {
          background-color: unset;
          color: white;
          border: none;
        }
      }
    }
    .tab-content {
      ul {
        li {
          width: calc(100% - 25px);
          margin: auto;
          font-size: rem(24);
          line-height: 1.333;
          border-bottom: 1px solid rgb(88, 88, 99);
          padding-top: rem(25);
          padding-bottom: rem(20);
          a {
            letter-spacing: -2px;
          }
        }
      }
    }
  }
  .card-banner {
    padding-top: rem(50);
    a {
      cursor: pointer;
      display: block;
      padding-bottom: rem(10);
      &:last-child {
        padding-bottom: rem(100);
      }
    }
    .card {
      width: calc(100% - 25px);
      height: rem(150);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin: auto;
      p {
        color: white;
        font-size: rem(36);
        padding-top: rem(50);
        padding-left: rem(207);
      }
    }
    .car-news {
      background-image: url(../images/card-banner.png);
    }
    .car-management {
      background-image: url(../images/card-banner2.png);
      p {
        color: black;
      }
    }
    .car-info {
      background-image: url(../images/card-banner3.png);
      box-sizing: border-box;
      border: 1px solid white;
    }
  }
}