.footer {
  .footer-list {
    width: calc(100% -15px);
    margin: auto;
    ul {
      display: flex;
      padding: rem(40) 0;
      li {
        flex: 1 1 auto;
        font-size: rem(22);
        color: rgb(102, 102, 102);
        text-align: center;
        line-height: 1.2;
        &:first-child {
          color: rgb(232, 0, 49);
        }
      }
    }
  }
  .dropdown {
    .dropbtn {
      border: 1px solid rgb(213, 213, 213);
      margin: auto;
      display: block;
      width: calc(100% - 15px);
      font-size: rem(24);
      line-height: 1.2;
      padding: rem(18) rem(57);
      position: relative;
      &::after {
        content: "";
        background-image: url(../images/arrow.png);
        width: 21px;
        height: rem(11);
        position: absolute;
        background-repeat: no-repeat;
        top: 13px;
        right: 24px;
      }
    }
    .dropdown-content {
      display: none;
      position: absolute;
      border: 1px solid rgb(213, 213, 213);
      box-sizing: border-box;
      width: calc(100% - 15px);
      bottom: 34px;
      right: 7px;
      li {
        font-size: 1rem;
        color: black;
        padding: 15px 22px;
        border-bottom: 1px solid rgb(213, 213, 213);
        background-color: white;
      }
    }
  }
  .footer-logo {
    text-align: center;
    padding-top: rem(60);
    img {
      width: rem(311);
    }
  }
  .info {
    font-size: rem(24);
    color: rgb(102, 102, 102);
    line-height: 1.583;
    text-align: center;
    .number-info {
      display: flex;
      width: calc(100% - 65px);
      margin: auto;
      li {
        flex: 1 1 auto;
        &:first-child {
          position: relative;
          &::after {
            content: "";
            background-color: rgb(229, 229, 229);
            width: rem(2);
            height: rem(18);
            right: 0;
            position: absolute;
            top: 4px;
          }
        }
      }
    }
    .footer-notice {
      font-size: rem(22);
      color: rgb(153, 153, 153);
      line-height: 1.455;
      text-align: center;
      width: calc(100% - 30px);
      margin: auto;
      padding-top: rem(50);
      padding-bottom: rem(70);
    }
  }
}