.header {
  position: relative;
  height: rem(90);
  .menu {
    display: inline-block;
    padding-left: rem(26);
    padding-top: rem(29);
    cursor: pointer;
    .bar1,
    .bar2,
    .bar3 {
      width: rem(38);
      height: 3px;
      display: flex;
      background-color: black;
      margin: rem(9) 0;
    }
  }
  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
      width: rem(105);
    }
  }
  .search-btn {
    position: absolute;
    right: rem(25);
    top: rem(25);
    img {
      width: rem(40);
    }
  }
}