.link-banner {
  background-image: url(../images/section-bg.png);
  height: rem(467);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  .link-text {
    width: calc(100% - 30px);
    margin: auto;
    padding-bottom: rem(60);
    h1 {
      padding-top: rem(100);
      font-size: rem(46);
      color: rgb(43, 43, 49);
      letter-spacing: -3px;
      span {
        color: red;
      }
    }
    p {
      font-size: rem(24);
      color: rgb(102, 102, 102);
      letter-spacing: -2px;
    }
  }
  .link-btns {
    text-align: center;
    margin: auto;
    display: flex;
    width: calc(100% - 15px);
    padding-top: rem(61);
    a {
      flex: 1 1 auto;
      position: relative;
    }
    .btns {
      color: white;
      letter-spacing: -2px;
      text-align: left;
      padding-top: 10px;
      padding-left: 5px;
      &::after {
        content: "";
        background-image: url(../images/btn-arrow.png);
        background-repeat: no-repeat;
        width: rem(28);
        height: rem(23);
        position: absolute;
        right: rem(28);
        bottom: rem(29);
        background-size: cover;
      }
    }
    .red-btn {
      background-color: rgb(219, 4, 50);
      font-size: rem(24);
      height: rem(80);
      vertical-align: middle;
      margin-right: 5px;
    }
    .black-btn {
      background-color: rgb(56, 56, 64);
      font-size: rem(24);
    }
  }
}

.Rectangle_8 {
  background-color: rgb(219, 4, 50);
  position: absolute;
  left: 30px;
  top: 3020px;
  width: 340px;
  height: 80px;
  z-index: 22;
}