$url:"../images/ico_service";
$i:"1";
.qulck-service {
  background-image: url(../images/qulck-bg.png);
  background-repeat: no-repeat;
  background-position: 100% -26px;
  margin-bottom: rem(100);
  .service-header {
    padding-top: rem(100);
    h1 {
      font-size: rem(45);
      color: rgb(51, 51, 51);
      text-align: center;
    }
    h2 {
      text-align: center;
      font-size: rem(28);
      color: rgb(232, 0, 49);
      display: block;
      padding-top: rem(17);
    }
  }
  .service-list {
    width: calc(100% - 50px);
    margin: auto;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        width: rem(126);
        padding-top: rem(50);
        a {
          display: block;
          .circle {
            width: rem(124);
            height: rem(124);
            display: flex;
            border-radius: 50%;
            background-color: rgb(245, 245, 245);
            border: 1px solid rgb(213, 213, 213);
            background-size: rem(62);
            background-repeat: no-repeat;
            background-position: center;
            margin: auto;
          }
          div {
            font-size: rem(24);
            padding-top: rem(21);
            line-height: 1.083;
            color: rgb(51, 51, 51);
            text-align: center;
            line-height: 1.3;
            width: 65px;
          }
          @for $i from 1 through 8 {
            .service-img#{$i} {
              background-image: url($url +$i+".png");
            }
          }
        }
      }
    }
  }
}