.slide-banner {
  position: relative;
  height: rem(500);
  .main-banner {
    .slide-img {
      background-image: url(../images/slide-bg.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      display: block;
      height: rem(500);
    }
    .main-dot {
      background-color: rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 87%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      border-radius: 15px;
      button.owl-dot {
        border: 1px solid white;
        color: rgb(141, 159, 217);
        width: rem(11);
        height: rem(11);
        background-color: rgb(102, 102, 102);
        border-radius: 50%;
        vertical-align: super;
        margin-left: 10px;
        &:last-child {
          margin-right: 10px;
        }
      }
      button.active {
        width: rem(11);
        height: rem(11);
        background-color: white;
        border-radius: 5px
      }
    }
  }
}