.sub-nav {
  background-color: rgba($color: #000000, $alpha: 0.5);
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  overflow-y: scroll;
  transition: 0.5s;
  position: fixed;
  width: 0px;
  z-index: 2;
  .sidenav {
    display: none;
    width: 0px;
    height: 100%;
    background: white;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    transition: 0.5s;
    .sub-link {
      color: white;
      font-size: 0.9375rem;
      padding: 0 0 0 rem(30);
      line-height: 40px;
      background-color: red;
      font-weight: 400;
      ul {
        display: flex;
        li {
          padding: rem(36) rem(30);
          font-size: rem(22);
          &:first-child {
            position: relative;
            &::after {
              content: "";
              position: absolute;
              background-color: rgb(181, 0, 39);
              width: rem(2);
              height: rem(18);
              right: 0;
              top: 30px;
            }
          }
        }
      }
    }
    h3 {
      color: white;
      line-height: 38px;
      padding: rem(20) 0 0 rem(30);
      font-size: 0.875rem;
      color: white;
      font-weight: 400;
    }
    ul {
      li {
        a {
          display: block;
          height: 30px;
          line-height: 30px;
          font-size: rem(28);
          font-family: "NotoSansCJKkr";
        }
      }
      .frist-list {
        padding-left: rem(20);
      }
      .accordion {
        position: relative;
        padding-left: rem(30);
        color: rgb(219, 4, 50);
        >a {
          &::after {
            content: '';
            position: absolute;
            top: 14px;
            right: 15px;
            display: block;
            width: 9px;
            height: 2px;
            background: #a7a7a8;
            border-radius: 2px;
            transition: all .3s ease;
          }
          &::before {
            content: '';
            position: absolute;
            top: 14px;
            right: 15px;
            display: block;
            width: 9px;
            height: 2px;
            background: #a7a7a8;
            border-radius: 2px;
            transition: all .3s ease;
          }
        }
      }
      .panel {
        overflow: hidden;
        display: none;
        ul {
          &>li {
            .thrd-link {
              font-size: 0.625rem;
              padding-left: rem(30);
            }
          }
        }
      }
    }
    .close {
      position: absolute;
      top: 8px;
      left: 197px;
    }
    .logo-list {
      display: flex;
      background-color: rgb(245, 245, 245);
      padding: rem(30) 0;
      span {
        flex: 1 1 auto;
        text-align: center;
        img {
          width: rem(170);
        }
        &:first-child {
          img {
            width: rem(266);
          }
        }
      }
    }
    .frist-nav {
      position: relative;
      &::after {
        content: "";
        background-image: url(../images/arrow-bottom.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        right: 10px;
        top: 10px;
        width: rem(33);
        height: rem(19);
      }
      &>.accordion {
        border-bottom: 1px solid rgb(213, 213, 213);
        &>a {
          color: rgb(51, 51, 51);
          font-size: rem(30);
          &::after {
            display: none;
          }
          &::before {
            display: none;
          }
        }
      }
      >.active {
        border-bottom: 2px solid red;
      }
    }
    .panel {
      border: none;
      box-shadow: none;
      margin: 0;
    }
    .last-accordion {
      background-color: rgb(245, 245, 245);
      border-top: 1px solid rgb(213, 213, 213);
      border-bottom: 1px solid rgb(213, 213, 213);
    }
  }
}

.active>a::after {
  transform: rotate(90deg);
  transition: all .3s ease;
}

.point-link {
  padding: rem(30) rem(30) rem(5) rem(30);
  a {
    display: block;
    color: #ffffff;
    background-color: #ff0000;
    text-align: center;
    font-size: 0.75rem;
    height: rem(94);
    line-height: 47px;
  }
}

.sub-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: calc(100% - 15px);
  background-color: rgb(245, 245, 245);
  margin: auto;
  margin-top: rem(100);
  li {
    flex: 1 1 50%;
    border: 1px solid rgb(213, 213, 213);
    box-sizing: border-box;
    border-collapse: collapse;
    font-size: rem(24);
    color: rgb(51, 51, 51);
    line-height: 1.2;
  }
}

.close {
  position: absolute;
  right: rem(23);
  top: rem(23);
  opacity: 1;
  img {
    width: rem(40);
    height: rem(40);
  }
}