input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.inputs {
  .input-id {
    border: 1px solid #ddd;
    border-collapse: collapse;
    margin-bottom: 15px;
  }
  .input-pw {
    border-radius: 3px;
    border: 1px solid #ddd;
  }
}