.login-page {
  width: 485px;
  margin: 50px auto;
  h1 {
    font-size: 25px;
    font-weight: 200;
    span {
      font-weight: 500;
    }
  }
  .form-box {
    width: 480px;
    text-align: center;
    .input-id,
    .input-pw {
      width: 300px;
      margin-bottom: 25px;
      display: inline-block;
    }
    .checkbox {
      text-align: left;
      padding-left: 30px;
      input[type="checkbox"] {
        appearance: checkbox;
      }
    }
    .btn {
      width: 300px;
    }
  }
}