.pagination {
  &>.active {
    &>a {
      background-color: cadetblue;
      border-color: cadetblue;
    }
    &:focus {
      background-color: cadetblue;
    }
    &:hover {
      background-color: cadetblue;
    }
  }
}