.table {
  .table-header {
    th {
      text-align: center;
      background-color: cadetblue;
      border: 1px solid #ddd;
      color: white;
    }
  }
  td {
    text-align: center;
    border: 1px solid #ddd;
    border-collapse: collapse;
  }
}

.table-col-color {
  tr {
    th {
      &:first-child {
        background-color: cadetblue;
        color: white;
        text-align: center;
        width: 180px;
      }
    }
  }
}