.card-section{
  display: flex;
  flex-direction: row;
  text-align: center;
  .card-banner{
    display: flex;
    flex-direction: column;
    width: 40%;
    .text-banner{
      display: flex;
      padding: vw(60);
      flex-direction: column;
      color:white;
      &.corncolor-box{
        background-color: cornflowerblue;
      }
      &.stacolor-box{
        background-color: slateblue;
      }
    }
  }
  .img-banner{
    display: flex;
    width: 60%;
  }
}
.card-banner{
  display: flex;
  .sm{
    width: 40%;
  }
  .la{
    width: 60%;
  }
  .text-card{
    text-align: center;
    padding: vw(35);
    padding-bottom: vw(15);
    p{
      color: #808080;
      margin: 0 0 25px 0;
      font-size: vw(11);
    }
    a{
      background-color: #575b72;
      color: #ffffff;
      display: inline-block;
      padding: 0 vw(50);
      border-radius: rem(60);
      line-height: rem(50);
    }
  }
}