.dolor{
  .header{
    text-align: center;
    margin-bottom: 20px;
    >h2{
      margin: 0 0 10px 0;
    }
    >p{
      color: #808080;
      margin: 0;
    }
  }
  .wrap-list{
    >ul{
      display: flex;
      >li{
        flex: 0 1 calc(100%/3);
        padding: 20px;
        text-align: center; 
        >p{
          padding: 0 15px 0px 15px;
        }
      }
    }
    &.solid-list{
      >ul{
        >li{
          border-right: 1px solid black;
          &:last-child{
            border: none;
          }
        }
      }
    }
  }
}