footer{
  .section{
    .wrapper{
      .link-footer{
        display: flex;
        text-align: center;
        div{
          flex: 1 1 25%;
          border-right: 1px solid #ffffff;
          color: #ffffff;
          &:last-child{
            border: none;
          }
          >ul{
            >li{
              margin-top: 10px;
              >a{
                color:rgba($color: #ffffff, $alpha: 0.8); 
              }
            }
          }
        }
      }
      .company-info{
        display: flex;
        justify-content: center;
        margin-top: 45px;
        >li{
          padding-right: 15px;
          color: white;
          >a{
            color: white;
          }
          &:last-child{
            padding: 0;
          }
        }
      }
      .copyright{
        text-align: center;
        color: #ffffff;
      }
    }
  }
}