header{
  display: flex;
  width: 1200px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  .logo{
    >span{
      padding-left: 20px;
    }
  }
  nav{
    flex: 1 1 auto;
    text-align: right;
  }
}
@media (max-width: 1200px) {
  header{
    width: calc(100% - 15%);
  }
 }