input{
  appearance: none;
  border-radius: 4px;
  border: none;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}
.input-form{
  display: flex;
  justify-content: center;
  input[type="email"]{
    border-bottom-left-radius: 44px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 44px;
    border-top-right-radius: 0;
    background-color: #ffffff;
    width: 400px;
    height: 50px;
    color: #333333;
  }
  a{
    border-top-right-radius: 44px;
    border-bottom-right-radius: 44px;
    background-color: #5ab7bd;
    color: white;
    line-height: 50px;
    width: 100px;
    text-align: center;
    font-size: 14px;
  }
}