.slide-main{
  position: relative;
  .main-banner{
    .main-nav{
      button{
        border: none;
        background-color: unset;
        color: white;
        font-size: rem(130);
      }
      .owl-prev{
        position: absolute;
        top: 70px;
        left: -70px;
      }
      .owl-next{
        position: absolute;
        top: 70px;
        right: -70px;
      }
    }
    .owl-dots{
      display: none;
    }
  }
}