.section{
  width: 100%;
  .wrapper{
    width: 85%;
    max-width: 1200px;
    margin: auto;
    &.whtie-main{
      background-color: white;
    }
    &.violet-main{
      background-color: blueviolet;
    }
    &.main{
      padding: 80px;
    }
    &.slide-main{
      padding: 100px;
    }
    &.gray-main{
      background-color: #4cabb1;
      color: white;
    }
    .header{
      text-align: center;
    }
  }
}
