.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color:#4cabb1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    &:hover {
      color: #f1f1f1;
    }
  }
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  &.custom-slide{
    .link-list{
      width: calc(100% - 70px);
      margin: auto;
      >li{
        border-bottom: 1px solid #f1f1f1;
        &:last-child{
          border: none;
        }
         a{
          color: rgba($color: #f1f1f1, $alpha: 0.5);
          text-align: left;
          padding: 20px 0 ;
          &:hover {
            color: #f1f1f1;
          }
        }
      }
    }
  }
  .join{
    width: calc(100% - 70px);
    margin: auto;
    >li{
      >a{
        color: rgba($color: #f1f1f1, $alpha: 0.5);
        border: 1px solid #f1f1f1;;
        border-radius: 30px;
        margin: auto;
        text-align: center;
        margin-top: 20px;
        padding-right: 30px;
        font-size: rem(18);
        &:hover {
          color: #f1f1f1;
        }
      }
    }
  }
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}