@font-face {
  font-family: 'notokr-bold';
  src: url('../font/notokr-bold.eot');
  src: url('../font/notokr-bold.eot?#iefix') format('embedded-opentype'), url('../font/notokr-bold.woff2') format('woff2'), url('../font/notokr-bold.woff') format('woff'), url('../font/notokr-bold.ttf') format('truetype'), url('../font/notokr-bold.svg#notokr-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'notokr-medium';
  src: url('../font/notokr-medium.eot');
  src: url('../font/notokr-medium.eot?#iefix') format('embedded-opentype'), url('../font/notokr-medium.woff2') format('woff2'), url('../font/notokr-medium.woff') format('woff'), url('../font/notokr-medium.ttf') format('truetype'), url('../font/notokr-medium.svg#notokr-medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'notokr-regular';
  src: url('../font/notokr-regular.eot');
  src: url('../font/notokr-regular.eot?#iefix') format('embedded-opentype'), url('../font/notokr-regular.woff2') format('woff2'), url('../font/notokr-regular.woff') format('woff'), url('../font/notokr-regular.ttf') format('truetype'), url('../font/notokr-regular.svg#notokr-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'notokr-demilight';
  src: url('../font/notokr-demilight.eot');
  src: url('../font/notokr-demilight.eot?#iefix') format('embedded-opentype'), url('../font/notokr-demilight.woff2') format('woff2'), url('../font/notokr-demilight.woff') format('woff'), url('../font/notokr-demilight.ttf') format('truetype'), url('../font/notokr-demilight.svg#notokr-demilight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '3MCircular-bold';
  src: url('../font/3MCircular-Bold.eot');
  src: url('../font/3MCircular-Bold.eot?#iefix') format('embedded-opentype'), url('../font/3MCircular-Bold.woff') format('woff'), url('../font/3MCircular-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '3MCircular-book';
  src: url('../font/3MCircular-Book.eot');
  src: url('../font/3MCircular-Book.eot?#iefix') format('embedded-opentype'), url('../font/3MCircular-Book.woff') format('woff'), url('../font/3MCircular-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}