.footer {
  padding: rem(26) rem(26) rem(30)rem(26);
  .footer-list {
    ul {
      display: flex;
      text-align: center;
      li {
        flex: 1 1 auto;
        justify-content: space-between;
        position: relative;
        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 10px;
          left: 0;
          width: 1px;
          height: 8px;
          border-right: 1px solid #e5e8ec;
        }
        a {
          font-size: rem(20);
        }
      }
    }
  }
  .footer-text01 {
    color: #777;
    font-size: rem(20);
    line-height: 16px;
    padding: rem(22) 0 rem(22) 0;
    font-family: 'notokr-demilight';
    strong {
      color: #333333;
    }
  }
  span {
    display: flex;
  }
  address {
    display: block;
    color: #777;
    font-family: 'notokr-demilight';
    font-size: rem(20);
    line-height: 16px;
  }
  .copy {
    display: block;
    color: #777;
    font-family: 'notokr-demilight';
    font-size: rem(20);
    line-height: 16px;
  }
}