.header {
  position: relative;
  height: rem(70);
  background: #212023;
  .login-btn {
    position: absolute;
    top: 5px;
    left: 15px;
    display: inline-block;
    height: rem(48);
    line-height: 24px;
    padding: 0 rem(30);
    color: #818181;
    font-size: 0.625rem;
    background: #302f32;
    text-align: center;
  }
  ul {
    text-align: right;
    padding: rem(10) rem(15) 0 0;
    li {
      display: inline-block;
      a {
        display: block;
        color: #818181;
        font-size: 0.625rem;
        line-height: rem(28);
      }
    }
  }
}