.main-box {
  background-image: url(../images/main_link_bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 82px;
  padding-left: 15px;
  height: rem(250);
  p {
    color: white;
  }
  .year {
    font-family: 'notokr-bold';
    line-height: 16px;
    font-size: rem(30);
  }
  .oral-text {
    margin: rem(6) 0 rem(20) 0;
    font-family: '3MCircular-bold';
    font-size: rem(26);
  }
  >ul {
    width: rem(540);
    margin-bottom: 9px;
    li {
      width: rem(180);
      float: left;
      a {
        font-size: rem(10);
        color: #d6d6d6;
        line-height: 14px;
      }
    }
  }
}