.main-product {
  border: 1px solid #e5e8ec;
  background-color: #f8f8f8;
  box-sizing: border-box;
  text-align: center;
  padding: 25px 15px 20px 15px;
  .product-header {
    h4 {
      font-size: rem(34);
      line-height: 1.48;
      color: #333333;
      letter-spacing: -1.68px;
      font-weight: 600;
      padding-bottom: 10px;
    }
    p {
      font-size: rem(24);
      font-weight: 300;
      line-height: 1.42;
      letter-spacing: -0.6px;
    }
  }
  .product-info {
    img {
      height: rem(194);
      margin: 13px auto 17px;
    }
    p {
      font-family: 'notokr-bold';
      font-size: rem(24);
      line-height: 1.25;
      letter-spacing: -0.6px;
      color: #818181;
    }
  }
  .all-prd {
    border: 1px solid #e5e8ec;
    background-color: #ffffff;
    display: block;
    padding: rem(24);
    color: #818181;
    position: relative;
    font-size: rem(22);
    margin-top: rem(34);
    &::after {
      content: '';
      position: absolute;
      background-image: url(../images/gnb_arrow01.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 8px;
      height: 10px;
      right: 10px;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}