.wrapper-row {
  display: flex;
  justify-content: space-between;
  padding: rem(30);
  .official-agency {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #e5e8ec;
    box-sizing: border-box;
    padding: rem(30);
    flex: 1 1 50%;
    .agency-header {
      font-size: rem(24);
      font-weight: bold;
      line-height: 1.25;
      letter-spacing: -0.6px;
      color: #818181;
    }
    .dentist {
      display: flex;
      li {
        flex: 1 1 auto;
        font-size: rem(19.5);
        border-right: solid 1px #e5e8ec;
        font-style: normal;
        line-height: 1.72;
        letter-spacing: -0.59px;
        text-align: center;
        color: #818181;
        &:last-child {
          border-right: none;
        }
      }
    }
    & img {
      width: 100%;
    }
  }
  .kakao-plus {
    margin-left: rem(30);
    display: flex;
    flex: 1 1 50%;
    & img {
      width: 100%;
      height: 100%;
    }
  }
}