.new-occ {
  padding: 25px 15px 20px 15px;
  h4 {
    font-size: rem(33.5);
    font-weight: bold;
    line-height: 1.48;
    letter-spacing: -1.68;
    color: #333333;
    text-align: center;
    padding-bottom: rem(35);
  }
  .new-occ-info {
    border: 1px solid #e5e8ec;
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    padding: 10px;
    img {
      height: rem(223);
    }
  }
  .occ-text {
    display: flex;
    flex-direction: column;
    padding: 20px;
    .a-to-z {
      font-size: rem(26);
      line-height: 1.38;
      letter-spacing: -0.65px;
      text-align: left;
      color: #555555;
      padding-bottom: rem(25);
      font-weight: bold;
    }
    .tip {
      font-size: rem(24);
      font-weight: 300;
      line-height: 1.5;
      letter-spacing: -0.6px;
      text-align: left;
      color: #555555;
    }
  }
  .all-occ {
    border: solid 1px #e5e8ec;
    background-color: #ffffff;
    font-size: rem(22);
    padding: rem(24) rem(218) rem(24) rem(221);
    line-height: 1.7;
    letter-spacing: -1.1px;
    text-align: center;
    color: #333333;
    font-weight: 500;
    box-sizing: border-box;
    position: relative;
    display: block;
    border-top: none;
    &::after {
      content: '';
      background-image: url(../images/gnb_arrow01.png);
      position: absolute;
      width: 8px;
      height: 10px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      right: 10px;
      top: 16px;
    }
  }
}