.nav {
  background-color: #ffffff;
  height: rem(104);
  position: relative;
  .menu {
    position: absolute;
    top: 10px;
    left: 20px;
    img {
      display: block;
      width: rem(35);
      height: rem(30);
    }
  }
  a {
    display: inline-block;
    vertical-align: middle;
  }
  .logo {
    text-align: center;
    padding-top: rem(16);
    img {
      height: rem(54);
      vertical-align: middle;
    }
  }
  .search {
    position: absolute;
    top: 10px;
    right: 10px;
    width: rem(48);
    height: rem(48);
    img {
      width: rem(48);
      height: rem(48);
    }
  }
}