.notice-list {
  border: solid 1px #e5e8ec;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: rem(20);
  display: flex;
  flex: 1 1 auto;
  .notice-header {
    border: 1px solid #e5e8ec;
    border-radius: 20px;
    padding: rem(10);
    width: rem(93);
    text-align: center;
    font-size: rem(22);
    font-weight: 500;
  }
  .notice-info {
    font-size: rem(22);
    font-weight: 300;
    line-height: 1.7;
    letter-spacing: -0.55px;
    display: inline;
    vertical-align: middle;
    color: #555555;
    padding-left: rem(20);
    padding-top: 5px;
  }
}