  .sub-nav {
    background-color: rgba($color: #000000, $alpha: 0.5);
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    overflow-y: scroll;
    transition: 0.5s;
    position: fixed;
    width: 0px;
    .sidenav {
      display: none;
      width: 0px;
      height: 100%;
      background: #2a292c;
      overflow-x: hidden;
      overflow-y: scroll;
      position: fixed;
      top: 35px;
      transition: 0.5s;
      h2 {
        color: white;
        font-size: 0.9375rem;
        padding: 0 0 0 rem(30);
        line-height: 40px;
        background-color: #212023;
        font-weight: 400;
      }
      h3 {
        color: white;
        line-height: 38px;
        padding: rem(20) 0 0 rem(30);
        font-size: 0.875rem;
        color: white;
        font-weight: 400;
      }
      ul {
        border-top: 1px solid #3c3c3c;
        li {
          a {
            display: block;
            height: 30px;
            line-height: 30px;
            color: #d6d6d6;
          }
        }
        .accordion {
          position: relative;
          padding-left: rem(30);
          color: #d4d4d4;
          font-size: 0.6875rem;
          >a {
            &::after {
              content: '';
              position: absolute;
              top: 14px;
              right: 15px;
              display: block;
              width: 9px;
              height: 2px;
              background: #a7a7a8;
              border-radius: 2px;
              transition: all .3s ease;
            }
            &::before {
              content: '';
              position: absolute;
              top: 14px;
              right: 15px;
              display: block;
              width: 9px;
              height: 2px;
              background: #a7a7a8;
              border-radius: 2px;
              transition: all .3s ease;
            }
          }
        }
        .panel {
          overflow: hidden;
          display: none;
          ul>li>a {
            font-size: 0.625rem;
            padding-left: rem(30);
          }
        }
      }
      .close {
        position: absolute;
        top: 8px;
        left: 197px;
      }
      img {
        width: rem(28);
      }
    }
    .active>a::after {
      transform: rotate(90deg);
      transition: all .3s ease;
    }
  }
  
  .point-link {
    padding: rem(30) rem(30) rem(5) rem(30);
    a {
      display: block;
      color: #ffffff;
      background-color: #ff0000;
      text-align: center;
      font-size: 0.75rem;
      height: rem(94);
      line-height: 47px;
    }
  }
  
  .sub-navlist {
    display: flex;
    flex-wrap: wrap;
    li {
      flex: 1 1 50%;
      border-bottom: 1px solid #3c3c3c;
      background-image: url(../images/gnb_arrow01.png);
      background-repeat: no-repeat;
      background-position: 90% center;
      background-size: rem(10) rem(18);
      border-right: 1px solid #3c3c3c;
      box-sizing: border-box;
      a {
        display: block;
        height: rme(60);
        line-height: 39px;
        padding: 0 0 0 rem(30);
        color: #d6d6d6;
        font-size: 0.6875rem;
      }
    }
  }