/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

@font-face {
  font-family: 'notokr-demilight';
  src: url('../../font/notokr-demilight.eot');
  src: url('../../font/notokr-demilight.eot?#iefix') format('embedded-opentype'), url('../../font/notokr-demilight.woff2') format('woff2'), url('../../font/notokr-demilight.woff') format('woff'), url('../../font/notokr-demilight.ttf') format('truetype'), url('../../font/notokr-demilight.svg#notokr-demilight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'notokr-regular';
  src: url('../../font/notokr-regular.eot');
  src: url('../../font/notokr-regular.eot?#iefix') format('embedded-opentype'), url('../../font/notokr-regular.woff2') format('woff2'), url('../../font/notokr-regular.woff') format('woff'), url('../../font/notokr-regular.ttf') format('truetype'), url('../../font/notokr-regular.svg#notokr-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'notokr-demilight';
}

dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
tbody,
tfoot,
thead,
th,
td {
  margin: 0;
  padding: 0
}

td,
th {
  color: #333;
  vertical-align: middle
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%
}

table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
}

ol,
ul,
li {
  list-style: none
}

hr {
  position: absolute;
  left: -5000px;
  top: 0;
  visibility: hidden;
  overflow: hidden;
  line-height: 0.1%;
  font-size: 0.1%;
  width: 0.1%;
  height: 0.1%
}

img {
  max-width: 100%;
}

img,
fieldset {
  border: 0
}

img {
  vertical-align: top
}

table img {
  vertical-align: middle
}

button {
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 0;
  line-height: 0;
  font-size: 0px;
  letter-spacing: 0px;
  word-spacing: 0px;
  cursor: pointer;
  background: none;
  vertical-align: top;
  text-align: left;
  font: 14px/22px 'NanumSquare', sans-serif;
  outline: none;
}

input,
textarea,
select,
label {
  font: 13px/25px 'NanumSquare', sans-serif;
  color: #333;
  vertical-align: middle;
}

select::-ms-expand {
  display: none;
}

input::-ms-clear {
  display: none;
}

address {
  font-style: normal
}

a {
  text-decoration: none;
  color: #333;
}

a:hover,
a:focus {
  text-decoration: none;
}

legend,
caption {
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  padding: 0;
  margin: 0;
}

.main-header {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 28px;
}

.wrapper {
  width: 1180px;
  margin: auto;
}

.main-header .wrapper {
  display: flex;
}

.main-header .logo {
  float: left;
}

.main-header .main-search {
  width: 380px;
  margin: auto;
  position: relative;
  padding-top: 5px;
}

.main-header .main-search input[type=text] {
  width: 100%;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  height: 35px;
  font: 'notokr-demilight';
}

.main-header .main-search button {
  cursor: pointer;
  position: absolute;
  top: 13px;
  right: 10px;
}

.main-header .join {
  float: right;
  padding-top: 18px;
}

.main-header .join ul {
  display: flex;
}

.main-header .join ul li {
  padding: 0px 12px;
  color: #737373;
  font-size: 0.875rem;
  border-right: 1px solid gray;
}

.main-header .join ul li:last-child {
  border-right: none;
}

.nav {
  background-color: #000000;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: inline-block;
}

.nav .wrapper {
  background-color: #000000;
  position: relative;
}

.nav .all-menu {
  width: 220px;
  display: inline-block;
}

.nav .all-menu ::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 19px;
  margin: 0 15px 0 0;
  background: url(../images/top_total_menu.png) no-repeat 0 0;
  vertical-align: middle;
}

.nav .all-menu a {
  height: 57px;
  text-align: center;
  display: block;
  line-height: 58px;
  color: #fff;
  font-size: 0.9375rem;
  border-left: 1px solid #3c3c3c;
  border-right: 1px solid #3c3c3c;
}

.nav .frist-dept {
  display: flex;
  border-bottom: 2px solid #ff0000;
}

.nav .depts {
  display: flex;
  padding-left: 81px;
}

.nav .depts>li {
  width: 120px;
  position: relative;
  text-align: center;
}

.nav .depts li a {
  line-height: 55px;
}

.nav .depts li::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: rgb(65, 62, 62);
  color: unset;
  bottom: 25px;
  left: 0;
}

.nav .depts>li a {
  color: white;
}

.nav .two-dept {
  position: absolute;
  width: 100%;
  background-color: #fff;
  margin: auto;
  border-bottom: 1px solid #ff0000;
  z-index: 10;
}

.nav .depts>li ul {
  text-align: center;
  position: absolute;
  background-color: beige;
  width: 130px;
  margin-left: 25px;
}

.two-dept .wrapper {
  display: flex;
}

.two-dept .top-event {
  padding-right: 25px;
}

.two-dept .top-event h2 {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 15px;
  margin-top: 50px;
}

.two-dept .top-event h2 span {
  color: red;
}

.two-dept .top-event a span {
  font-size: 0.875rem;
  display: inline-block;
  margin-top: 15px;
}

.two-dept .wrapper {
  background-color: white;
}

.nav .dept2 {
  color: white;
  background-color: white;
  display: flex;
  padding-top: 25px;
}

.nav .dept2 li ul {
  font-size: 0.875rem;
  text-align: center;
  border-left: 1px solid #f4f4f4;
  box-sizing: border-box;
  height: 342px;
}

.nav .dept2 li ul li {
  padding: 10px 5px;
  width: 110px;
}

.nav .dept2 li ul li a:hover {
  border-bottom: 2px solid #f4f4f4;
  padding-bottom: 5px;
  color: #666;
}

.point-mall {
  display: inline-block;
  padding-left: 29px;
}

.point-mall a {
  background-color: red;
  padding: 19px 30px 17px 30px;
  color: white;
  display: inline-block;
}

.main-box1 {
  background-color: #f1f1f1;
  border-bottom: 1px solid #e5e8ec;
  width: 100%;
  margin: auto;
}

.main-box1 .wrapper {
  display: flex;
}

.main-box1 .main-membership {
  background-image: url(https://innovation.3m.co.kr/oralcare/front/images/main/membership_bg.jpg);
  background-repeat: no-repeat;
  height: 300px;
  padding-top: 150px;
  padding-left: 55px;
  display: inline-block;
  width: 744px;
}

.main-box1 .main-membership .year-text {
  font-size: 1.875rem;
  color: white;
  line-height: 0.5;
  font-weight: bold;
}

.main-box1 .main-membership .oral-text {
  color: white;
  font-size: 3rem;
  margin: 0;
  line-height: 50px;
  font-weight: bold;
}

.main-box1 .main-membership ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 35px;
  padding-top: 36px;
}

.main-box1 .main-membership ul li {
  position: relative;
}

.main-box1 .main-membership ul li::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fff;
  color: unset;
  bottom: 10px;
  left: -10px;
}

.main-box1 .main-membership ul li:last-child {
  padding-top: 10px;
}

.main-box1 .main-membership ul li a {
  font-size: 1.25rem;
  color: #fff;
}

.main-event {
  display: inline-block;
  background-color: white;
  width: 380px;
  margin: auto;
  height: 450px;
}

.main-event h2 {
  text-align: center;
  font-size: 1.625rem;
  font-weight: bold;
  padding-top: 30px;
}

.main-event a {
  text-align: center;
  align-items: center;
}

.main-event .frist-text {
  font-size: 1.375rem;
  font-weight: bold;
}

.main-event a p {
  font-size: 1.125rem;
}

.main-event a img {
  padding-left: 30px;
}

.main-event .red-btn img {
  padding-top: 20px;
  padding-bottom: 47px
}

.main-box2 {
  margin: auto;
  width: 100%;
  margin-bottom: 50px;
}

.wrapper-row {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.main-box2 .occ-product {
  border: solid 1px #e5e8ec;
  display: flex;
  justify-content: space-between;
  height: 340px;
  width: 580px;
  box-sizing: border-box;
}

.prd-text {
  flex: 1 1 0;
  position: relative;
  box-sizing: border-box;
  padding: 30px 35px;
}

.wrapper-row .banner-header {
  font-size: 20px;
  font-weight: 600;
}

.prd-text .banner-text {
  margin-top: 5px;
  font-weight: 300;
  font-size: 1rem;
}

.main-box2 .link-box {
  display: inline-block;
  height: 37px;
  border: solid 1px #e5e8ec;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 37px;
  color: #333333;
  text-align: center;
  box-sizing: border-box;
}

.prd-text .banner-link {
  width: 182px;
  height: 37px;
  border: solid 1px #e5e8ec;
  background-color: #ffffff;
  position: absolute;
  bottom: 30px;
  left: 35px;
}

.occ-product .prd-img {
  text-align: center;
  align-items: center;
  background-color: #f8f8f8;
  width: 334px;
  flex: 0 0 334px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.occ-product .prd-img .banner-text {
  margin-top: 48px;
}

.main-box2 .new-occ {
  border: solid 1px #e5e8ec;
  width: 580px;
  height: 340px;
  box-sizing: border-box;
  margin-left: 20px;
  padding: 25px 30px;
}

.main-box2 .new-occ .banner-header {
  border-bottom: 1px solid #e5e8ec;
  padding-bottom: 13px;
  margin-bottom: 16px;
}

.main-box2 .new-occ .occ-info {
  display: flex;
}

.main-box2 .new-occ .occ-info .occ-text {
  display: flex;
  flex-direction: column;
  padding-top: 34px;
  padding-left: 32px;
  position: relative;
}

.main-box2 .new-occ .occ-info .occ-text .occ-title {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.37;
  letter-spacing: -0.51px;
  text-align: left;
  color: #333333;
}

.main-box2 .new-occ .occ-info .occ-text .occ-text-info {
  padding-top: 18px;
  font-size: 1.125rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: -0.45px;
  text-align: left;
  color: #555555;
}

.main-box2 .new-occ .occ-info .occ-text .occ-link {
  width: 182px;
  position: absolute;
  bottom: 0;
}

.wrapper-row .left-banner .eventbanner {
  flex: 1 1 auto;
}

.wrapper-row .left-banner .notice-box {
  width: 580px;
  border: solid 1px #e5e8ec;
  box-sizing: border-box;
  position: relative;
  margin-top: 20px;
  height: 60px;
  padding: 22px;
  display: flex;
}

.wrapper-row .left-banner .notice-box .notice-header {
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.45px;
  text-align: left;
  color: #ff0000;
}

.wrapper-row .right-banner {
  display: flex;
  justify-content: space-between;
}

.wrapper-row .right-banner .official-agency {
  width: 285px;
  height: 258px;
  border: solid 1px #e5e8ec;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 20px 30px;
  text-align: center;
  position: relative;
}

.wrapper-row .right-banner .official-agency .agency-header {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.22;
  letter-spacing: 0.58px;
  text-align: center;
  color: #333333;
  padding-top: 12px;
}

.wrapper-row .right-banner .official-agency .dentist {
  display: flex;
  padding-top: 14px;
}

.wrapper-row .right-banner .official-agency .dentist li {
  flex: 1 1 10px;
  line-height: 1;
}

.wrapper-row .right-banner .official-agency .dentist li:first-child {
  border-right: 1px solid #e5e8ec;
}

.wrapper-row .right-banner .official-agency .link-box {
  position: absolute;
  bottom: 21px;
  left: 50px;
  width: 182px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.wrapper-row .right-banner .kakao-plus {
  display: flex;
  margin-left: 21px;
}

.main-footer {
  width: 100%;
  margin-top: 50px;
  margin: 0 auto;
  background-color: #f7f7f7;
}

.footer-list {
  width: 1180px;
  margin: 0 auto;
  background-color: #f7f7f7;
  padding-top: 35px;
  padding-bottom: 40px;
  font-family: 'notokr-regular';
}

.main-footer ul li a {
  font-family: 'notokr-regular';
}

.main-footer ul>li>ul {
  padding-top: 20px;
  float: left;
}

.main-footer ul>li>a {
  display: flex;
  flex: 1 1 auto;
  font-size: 1rem;
}

.main-footer>ul .main-footer ul li a {
  font-size: 1rem;
}

.main-footer ul li>ul li a {
  font-size: 0.75rem;
  color: #999;
  line-height: 29px;
  font-family: 'notokr-demilight';
}

.main-footer .depts {
  display: flex;
}

.main-footer .depts>li {
  color: #333;
  font-size: 1.188rem;
  line-height: 22px;
  flex: 1 1 auto;
}

.main-footer ul>li:first-child .dept2:last-child {
  padding-left: 30px;
}

.footer-info {
  border-top: 1px solid #e5e8ec;
  padding: 20px 0 35px 0;
  margin: auto;
  width: 1180px;
  background-color: #f7f7f7;
}

.footer-info .info-list ul {
  display: flex;
  margin-bottom: 35px;
}

.footer-info .info-list ul li {
  margin-left: 13px;
  padding-left: 15px;
  position: relative;
}

.footer-info .info-list ul li:first-child {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.footer-info .info-list ul li:nth-child(4) {
  font-weight: bold;
}

.footer-info .info-list ul li::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: rgb(65, 62, 62);
  color: unset;
  bottom: 8px;
  left: 0;
}

.footer-info .info-list .compeny-info,
.footer-info .info-list address,
.footer-info .info-list .copyright {
  color: #777;
  font-family: 'notokr-demilight';
  font-size: 0.8125rem;
  line-height: 25px;
}

.footer-info .info-list .compeny-info span {
  margin-left: 25px;
}

.footer-info .info-list .compeny-info span:first-child {
  margin: 0;
}