.login-page {
  width: 485px;
  margin: 50px auto;
}

.login-page h1 {
  font-size: 25px;
  font-weight: 200;
}

.login-page h1 span {
  font-weight: 500;
}

.login-page .form-box {
  width: 480px;
  text-align: center;
}

.login-page .form-box .input-id,
.login-page .form-box .input-pw {
  width: 300px;
  margin-bottom: 25px;
  display: inline-block;
}

.login-page .form-box .checkbox {
  text-align: left;
  padding-left: 30px;
}

.login-page .form-box .checkbox input[type="checkbox"] {
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
}

.login-page .form-box .btn {
  width: 300px;
}
