@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'NotoSansCJKkr', sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'notokr-regular', dotum, gulim, verdana, sans-serif;
}

/* add */
a {
  text-decoration: none;
  color: inherit;
}

button {
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
}

img {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  font-size: 16px;
}

.table .table-header th {
  text-align: center;
  background-color: cadetblue;
  border: 1px solid #ddd;
  color: white;
}

.table td {
  text-align: center;
  border: 1px solid #ddd;
  border-collapse: collapse;
}

.table-col-color tr th:first-child {
  background-color: cadetblue;
  color: white;
  text-align: center;
  width: 180px;
}

.not-radius {
  border-radius: unset;
}

.color-btn {
  background-color: cadetblue;
  color: white;
}

.btn {
  width: 130px;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.inputs .input-id {
  border: 1px solid #ddd;
  border-collapse: collapse;
  margin-bottom: 15px;
}

.inputs .input-pw {
  border-radius: 3px;
  border: 1px solid #ddd;
}

.form-box {
  width: 600px;
  margin: 50px auto;
  padding: 60px;
  border: 1px solid gray;
  border-radius: 5px;
  -webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.15);
}

.pagination > .active > a {
  background-color: cadetblue;
  border-color: cadetblue;
}

.pagination > .active:focus {
  background-color: cadetblue;
}

.pagination > .active:hover {
  background-color: cadetblue;
}

.login-page {
  width: 300px;
  margin: 50px auto;
}

.login-page h1 {
  font-size: 25px;
  font-weight: 200;
}

.login-page h1 span {
  font-weight: 500;
}

.login-page .form-box {
  width: 480px;
  text-align: center;
}

.login-page .form-box .input-id,
.login-page .form-box .input-pw {
  width: 300px;
  margin-bottom: 25px;
  display: inline-block;
}

.login-page .form-box .checkbox {
  text-align: left;
  padding-left: 30px;
}

.login-page .form-box .checkbox input[type="checkbox"] {
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
}

.login-page .form-box .btn {
  width: 300px;
}
