.faq-section {
  .tab-content {
    .tab-pane {
      border-top: 1px solid black;
      .accordion {
        line-height: 1.4;
        font-size: 1.25rem;
        padding: 25px 0px;
        border-bottom: 1px solid rgb(213, 213, 213);
        box-sizing: border-box;
        position: relative;
        span {
          color: rgb(44, 187, 182);
        }
        &>a {
          &::after {
            background-image: url(../images/accordrion.png);
            background-repeat: no-repeat;
            content: '';
            background-position: center;
            position: absolute;
            top: 14px;
            right: 15px;
            display: block;
            width: 24px;
            height: 47px;
            border-radius: 2px;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
          }
        }
      }
    }
    .panel {
      overflow: hidden;
      display: none;
      height: 250px;
      background-color: rgb(249, 249, 249);
      font-size: 1rem;
      color: rgb(102, 102, 102);
      line-height: 1.75;
      &>ul {
        padding: 20px 20px;
      }
      span {
        font-size: 1.25rem;
        color: rgb(51, 51, 51);
        line-height: 1.4;
      }
    }
  }
}

.active>a::after {
  transform: rotate(180deg);
  transition: all .3s ease;
}