.card-section {
  width: 100%;
  margin: auto;
  margin-top: 100px;
  .box-list {
    display: flex;
    justify-content: space-between;
    .border-box {
      width: 333px;
      height: 350px;
      border: 1px solid rgb(148, 209, 202);
      background-color: rgb(148, 209, 202);
      background-image: url();
      box-sizing: border-box;
      border-radius: 15px;
      color: rgb(255, 255, 255);
      padding: 50px 60px;
      position: relative;
      &:hover {
        box-shadow: 11.756px 16.18px 20px 0px rgba(0, 0, 0, 0.2);
        transition: 0.6s;
        margin-top: -40px;
        border: none;
      }
      a {
        display: inline-block;
      }
      .card-head {
        line-height: 0.824;
        font-size: 2.125rem;
        font-weight: 400;
      }
      .text-info {
        line-height: 1.5;
        font-size: 1rem;
        padding-top: 27px;
        color: white;
      }
      img {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 50px;
        bottom: 50px;
      }
    }
    .intro-box {
      background-image: url(../images/intro-img.png);
      background-repeat: no-repeat;
      background-position: 50px 196px;
    }
    .servit-box {
      background-image: url(../images/servit-img.png);
      background-repeat: no-repeat;
      background-position: 50px 218px;
      background-color: rgb(44, 187, 182);
    }
    .keep-box {
      background-image: url(../images/keep-img.png);
      background-repeat: no-repeat;
      background-position: 50px 218px;
      background-color: rgb(35, 190, 204);
    }
  }
}