.faq-banner {
  background-image: url(../images/faq-bg.png);
  width: 100%;
  min-width: 1200px;
  background-position: center;
  background-size: cover;
  height: 240px;
  margin-bottom: 30px;
  h2 {
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    font-size: 2.063rem;
    padding-top: 80px;
  }
  .breadcrumbs {
    text-align: center;
    padding-top: 22px;
    color: rgb(255, 255, 255);
    span,
    a {
      background-image: url(../images/naex-arrow.png);
      background-repeat: no-repeat;
      background-position: 100% 10px;
      padding-left: 10px;
      &:last-child {
        background: none;
      }
    }
    .home {
      &::before {
        content: "";
        background-image: url(../images/home.png);
        width: 17px;
        height: 16px;
        display: inline-block;
        vertical-align: middle;
      }
      span {
        padding-right: 17px;
        text-indent: -9999px;
        font-size: 0;
      }
    }
  }
}