.faq-section {
  width: 100%;
  margin: auto;
  margin-bottom: 50px;
  .nav-tabs {
    display: flex;
    box-sizing: border-box;
    li {
      flex: 1 1 auto;
      text-align: center;
      font-size: 1.25rem;
      line-height: 2.3;
      background-color: rgb(233, 233, 233);
      border-bottom: 2px solid rgb(44, 197, 182);
      >a {
        display: block;
        line-height: 2.3;
        border: none;
      }
    }
    >li.active>a {
      color: rgb(44, 187, 182);
      line-height: 2.3;
      font-size: 1.25rem;
      border: 2px solid rgb(44, 197, 182);
      border-bottom: none;
    }
    >li.active {
      border: none;
    }
  }
  .faq-link {
    position: relative;
    margin-top: 50px;
    margin-bottom: 55px;
    .btns {
      display: inline-block;
    }
    .third {
      background-color: #494c5a;
      color: #ffffff;
      text-align: center;
      font-size: 0.875rem;
      font-weight: 500;
      display: inline-block;
    }
    .btn-small {
      min-width: 10.625rem;
      box-sizing: border-box;
      padding: 0.875rem 1.4375rem;
      font-size: 1.125rem;
      font-weight: 400;
      text-align: center;
      border: 0.0625rem solid #2cbbb6;
    }
    .btn.btn-small.third-line {
      color: #333333;
      border-color: #494c5a;
    }
  }
  .input-seach {
    position: relative;
    border: 2px solid #2cbbb6;
    overflow: hidden;
    display: inline-block;
    height: 3.125rem;
    width: 25rem;
    margin-left: 0.625rem;
    position: absolute;
    right: 0;
    input {
      padding: 0rem 3.75rem 0rem 1.875rem;
      font-size: 0.875rem;
      display: block;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }
    .icon-search {
      background-image: url(../images/search.png);
      position: absolute;
      right: 17px;
      top: 50%;
      transform: translateY(-50%);
      width: 27px;
      height: 27px;
    }
  }
}

.ranks {
  text-align: right;
  margin-bottom: 10px;
  ul {
    li {
      display: inline-block;
      padding: 0px 14px;
      position: relative;
      &:last-child {
        &::after {
          display: none
        }
      }
      &::after {
        content: "";
        background-color: rgb(213, 213, 213);
        width: 1px;
        height: 9px;
        position: absolute;
        right: 0;
        top: 7px;
      }
    }
  }
}