.footer {
  width: 100%;
  height: 150px;
  margin: auto;
  background-color: rgb(67, 68, 72);
  color: white;
  min-width: 1200px;
  padding-top: 50px;
  .wrapper {
    display: flex;
    position: relative;
    .footer-logo {
      a {
        display: inline-block;
      }
    }
    .link-list {
      padding-left: 105px;
      ul {
        display: flex;
        li {
          flex: 1 1 auto;
          text-align: left;
          position: relative;
          &::after {
            content: "";
            width: 1px;
            height: 13px;
            background-color: rgb(124, 124, 127);
            position: absolute;
            right: 25px;
            top: 5px;
          }
          &:last-child {
            &::after {
              display: none;
            }
          }
        }
      }
      .copyright {
        color: rgb(131, 133, 138);
        padding-top: 20px;
      }
    }
    .dropdown {
      position: absolute;
      right: 0;
      top: 0;
      .dropbtn {
        border: 1px solid rgb(255, 255, 255);
        border-radius: 3px;
        font-size: 14px;
        background-color: rgba(67, 68, 72, 0);
        line-height: 1.2;
        padding: 15px 53px 15px 22px;
        position: relative;
        &::after {
          content: "";
          background-image: url(../images/arrow.png);
          width: 9px;
          height: 5px;
          position: absolute;
          background-repeat: no-repeat;
          top: 22px;
          right: 24px;
        }
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background: #666666;
        width: 100%;
        bottom: 37px;
        li {
          font-size: 1rem;
          color: white;
          padding: 15px 22px;
        }
      }
    }
  }
}

.show {
  display: block;
}