.header {
  width: 100%;
  margin: auto;
  height: 80px;
  border-bottom: 1px solid black;
  box-shadow: 0px 20px 20px rgba($color: #000000, $alpha: 0.3);
  z-index: 10;
  .wrapper {
    width: 1200px;
    margin: auto;
    position: relative;
    h1 {
      position: absolute;
      left: 0px;
      top: 20px;
      a {
        display: inline-block;
      }
    }
    .nav {
      text-align: center;
      margin: auto;
      padding: 0 21.25rem 0 15rem;
      &:hover .dept2 {
        display: block;
      }
      &>ul {
        display: flex;
        li {
          width: 210px;
          text-align: center;
          vertical-align: middle;
          font-size: 1.125rem;
          font-weight: 500;
          // &:hover {
          //   color: rgb(44, 187, 182);
          //   border-bottom: 3px solid rgb(44, 187, 182);
          // }
          a {
            display: inline-block;
            padding: 25px 0;
          }
        }
      }
    }
    .login {
      position: absolute;
      right: 50px;
      top: 27px;
      ul {
        display: flex;
        li {
          padding: 0px 17px 0px 17px;
          font-size: 0.875rem;
          border-right: 1px solid #cdcdcd;
          &:last-child {
            border-right: none;
            &:after {
              content: "";
              background-image: url(../images/login.png);
              width: 71px;
              height: 66px;
              background-position: center;
              position: absolute;
              right: -50px;
              background-repeat: no-repeat;
              bottom: -24px;
            }
          }
          &:first-child {
            a {
              display: inline-block;
              position: relative;
              &::before {
                content: "";
                background-image: url(../images/won.png);
                width: 26px;
                height: 20px;
                background-repeat: no-repeat;
                background-position: center;
                position: absolute;
                top: 1px;
                left: -30px;
              }
            }
          }
        }
      }
    }
  }
  .dept2 {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 10;
    background: white;
    .info {
      display: inline-block;
      padding-left: 294px;
      font-size: 15px;
      color: rgb(153, 153, 153);
      line-height: 1.2;
      padding-bottom: 20px;
      h2 {
        font-size: 20px;
        font-family: "NotoSansCJKkr";
        color: black;
        line-height: 1.4;
        padding-bottom: 20px;
      }
      p {
        padding-bottom: 35px;
      }
    }
    .dept-list {
      display: inline-block;
      margin-left: -25px;
      vertical-align: top;
      padding-left: 93px;
    }
    li {
      width: 206px;
      text-align: center;
      display: inline-block;
      padding-bottom: 25px;
      color: rgb(102, 102, 102);
      &>ul {
        padding-top: 18px;
        border-right: 1px solid rgb(229, 229, 229);
        &>li {
          color: rgb(102, 102, 102);
          &:hover {
            color: black;
          }
        }
      }
    }
  }
  .on {
    display: block;
    color: rgb(153, 153, 153);
    border-bottom: 3px solid rgb(153, 153, 153);
    ;
  }
  .hover {
    display: flex;
  }
  .bg {
    background-color: rgb(235, 246, 245);
  }
}