.banner-section {
  position: relative;
  width: 100%;
  margin: auto;
  min-width: 1200px;
  .main-banner {
    .owl-nav {
      button.owl-next {
        background-image: url(../images/next.png);
        width: 80px;
        height: 80px;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        text-indent: -9999px;
        top: 195px;
        right: 135px;
      }
      button.owl-prev {
        background-image: url(../images/prev.png);
        width: 80px;
        height: 80px;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        text-indent: -9999px;
        top: 195px;
        left: 135px;
      }
    }
    .main-dot {
      position: absolute;
      bottom: 120px;
      left: 50%;
      button.owl-dot {
        border: 1px solid white;
        color: rgb(141, 159, 217);
        margin-left: 11px;
        width: 6px;
        height: 6px;
        background-color: white;
        background: transparent;
        transition: width .3s;
        border-radius: 5px;
      }
      button.active {
        width: 18px;
        background-color: rgb(44, 187, 182);
      }
    }
  }
}

.slide-img {
  margin: auto;
  background-image: url(../images/section-bg.png);
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  a {
    display: inline-block;
  }
  p {
    width: 1200px;
    margin: auto;
    text-align: center;
    color: white;
    padding-top: 220px;
  }
}