.tab-section {
  width: 100%;
  height: 667px;
  background-image: url(../images/tab-banner-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: -100px;
  min-width: 1200px;
  .tab-menu {
    width: 1200px;
    margin: auto;
    .nav-tabs {
      text-align: center;
      padding-top: 200px;
      border: none;
      li {
        display: inline-block;
        float: none;
        font-size: 1.5rem;
        padding: 0px 100px 0px 0px;
      }
      .active {
        background: none;
        border: none;
        &>a {
          background-color: unset;
          border: none;
          padding-bottom: 10px;
          border-bottom: 3px solid rgb(44, 187, 182);
          color: rgb(44, 187, 182);
        }
      }
    }
  }
  .tab-content {
    margin-top: 30px;
    .tab-pane {
      border-radius: 15px;
      background-color: rgb(255, 255, 255);
      height: 300px;
      .notice-list {
        display: flex;
        &>li {
          padding: 67px 30px;
        }
        & li ul .notice-date {
          font-size: 1.125rem;
          float: left;
          strong {
            font-size: 2.5rem;
            color: rgb(44, 187, 182);
            line-height: 0.525;
            padding-left: 10px;
          }
        }
        .notice-header {
          font-size: 1.125rem;
          line-height: 1.333;
          color: rgb(51, 51, 51);
          overflow: hidden;
          text-overflow: ellipsis;
          padding-left: 34px;
          width: 250px;
          display: block;
          padding-top: 20px;
        }
        .notice-text {
          padding-top: 45px;
        }
      }
    }
  }
}